<div [hidden]="group || error" style="width:100%; text-align:center; ">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
</div>

<div class="m-error-splash" *ngIf="error && !group">
  <img [src]="minds.cdn_assets_url + 'assets/logos/logo.svg'">
  <h3 class="mdl-color-text--red-300">{{error}}</h3>
  <span class="mdl-color-text--blue-grey-300">Check the url is correct</span>
  <router-outlet></router-outlet>
</div>

<div class="m-group__grid" *ngIf="group && (group['is:member'] || group.membership == 2)"

>

  <!-- Sidebar -->
  <div class="m-groupGrid__left">
    <m-videochat></m-videochat>

    <header
      *ngIf="group && (group['is:member'] || group.membership == 2)"
      [ngClass]="[ 'm-group--' + filter + '-view' ]"
      [class.m-group--view-mode]="!editing"
    >
      <minds-banner
        [object]="group"
        [editMode]="editing"
        [top]="group.banner_position"
        [done]="editDone"
        (added)="add_banner($event)"
        >
      </minds-banner>
    </header>

    <div class="m-group__infoWrapper">
      <div class="m-group__info m-border">
        <minds-avatar
          [object]="group"
          [editMode]="editing"
          (added)="upload_avatar($event)"
          >
        </minds-avatar>

        <minds-groups-settings-button
          [(group)]="group"
          class="m-button"
          (change)="onOptionsChange($event)"
          >
        </minds-groups-settings-button>

        <div class="m-groupInfo__member-previews">
          <m-group--member-previews [group]="group"></m-group--member-previews>
        </div>

        <!-- Name -->
        <div class="m-groupInfo__name m-group-info-name mdl-color-text--blue-grey-800">

          <div [hidden]="editing || !group.name">
            <h1>
              <a class="m-isomorphic-link" [routerLink]="['/groups/profile', group.guid]">
                {{group.name}}
              </a>
            </h1>
            <div class="m-groupInfo__actionButtons">
            <minds-groups-join-button
              [group]="group"
              (membership)="change_membership($event)"
              *ngIf="(!group['is:creator'] || (session.isAdmin()) && !group['is:invited'])"
            >
            </minds-groups-join-button>
            <button class="m-btn m-btn--slim m-btn--with-icon" [class.m-pulsating--small]="group.hasGathering$ | async" style="margin-left: 8;" (click)="videochat.activate(group)" *ngIf="!group.videoChatDisabled">
              <span class="m-gatheringIcon">Gathering</span>
              <i class="material-icons">video_call</i>
            </button>
          </div>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <input type="text" class="h1" name="name" [(ngModel)]="group.name" placeholder="Enter a name" i18n-placeholder="@@GROUPS__NAME_PLACEHOLDER" />
        </div>

      </div> <!-- END NAME -->

      <!-- Brief description -->
      <p
        class="m-groupInfo__description"
        [hidden]="editing || !group.briefdescription"
        [innerHtml]="group.briefdescription | tags"
        >
      </p>

      <p
        class="m-groupInfo__description"
        *ngIf="editing && group['is:owner']"
        >
        <m-text-input--autocomplete-container>
          <textarea
            name="briefdescription"
            [autoGrow]
            [(ngModel)]="group.briefdescription"
            placeholder="Enter a brief description"
            i18n-placeholder="@@GROUPS__DESCRIPTION_PLACEHOLDER"
            mTextInputAutocomplete
            [findChoices]="findTrendingHashtags.bind(this)"
            [getChoiceLabel]="getChoiceLabel"
            [triggerCharacters]="['#']"
          >
          </textarea>
        </m-text-input--autocomplete-container>
      </p>

      <ng-container *ngIf="false">

      <!-- Tags -->
      <div class="m-group-info-tags">
        <div>
          <i class="material-icons">local_offer</i>
          <ng-container *ngIf="!editing && group.tags">
            <span *ngFor="let tag of group.tags">#{{tag}}</span>
          </ng-container>
          <m-hashtags-selector #hashtagsSelector
            [alignLeft]="true"
            [tags]="group.tags"
            (tagsChange)="onTagsChange($event)"p
            (tagsAdded)="onTagsAdded($event)"
            (tagsRemoved)="onTagsRemoved($event)"
            *ngIf="editing && group['is:owner']"
          ></m-hashtags-selector>
        </div>

      </div>

      <!-- Membership -->
      <div class="m-group-info-membership">

        <div [hidden]="editing || group.membership != 2">
          <i class="material-icons">public</i>
          <span i18n="@@GROUPS__OPEN_GROUP">Open Group</span>
        </div>

        <div [hidden]="editing || group.membership != 0">
          <i class="material-icons">lock</i>
          <span i18n="@@GROUPS__CLOSED_GROUP">Closed Group</span>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">{{ group.membership == 2 ? 'public' : 'lock' }}</i>
          <select class="icon-prefix" name="membership" [ngModel]="group.membership" (change)="group.membership = $event.target.value">
            <option value="2" i18n="@@GROUPS__OPEN_GROUP">Open Group</option>
            <option value="0" i18n="@@GROUPS__CLOSED_GROUP">Closed Group</option>
          </select>
        </div>

      </div>

      <!-- Post moderation -->
      <div class="m-group-info-moderated" *ngIf="group['is:owner']">

        <div [hidden]="editing || group.moderated != 0">
          <i class="material-icons">rate_review</i>
          <span i18n="@@GROUPS__ANYONE_CAN_POST">Anyone can post</span>
        </div>

        <div [hidden]="editing || group.moderated != 1">
          <a [routerLink]="['/groups/profile', group.guid, 'review']">
            <i class="material-icons">rate_review</i>
            <span>
              <ng-container i18n="@@GROUPS__POSTS_ARE_MODERATED">Posts are moderated</ng-container>
              <b *ngIf="group['adminqueue:count']">
                (<ng-container i18n="@@GROUPS__PROFILE__ADMINQUEUE_COUNT">{{ group['adminqueue:count'] }} new</ng-container>)
              </b>
            </span>
          </a>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">rate_review</i>
          <select class="icon-prefix" name="moderated" [ngModel]="group.moderated" (change)="group.moderated = $event.target.value">
            <option value="0" i18n="@@GROUPS__ANYONE_CAN_POST">Anyone can post</option>
            <option value="1" i18n="@@GROUPS__POSTS_ARE_MODERATED">Posts are moderated</option>
          </select>
        </div>

      </div>

      <!-- Default view -->
      <div class="m-group-info-moderated" *ngIf="group['is:owner']">

        <div [hidden]="editing || group.default_view != 0">
          <i class="material-icons">pageview</i>
          <span i18n="@@GROUPS__DEFAULT_VIEW_FEED">Default view: Feed</span>
        </div>

        <div [hidden]="editing || group.default_view != 1">
          <i class="material-icons">pageview</i>
          <span i18n="@@GROUPS__DEFAULT_VIEW_CONVERSATIONS">Default view: Conversations</span>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">pageview</i>
          <select class="icon-prefix" name="default_view" [ngModel]="group.default_view" (change)="group.default_view = $event.target.value">
            <option value="0" i18n="@@GROUPS__DEFAULT_VIEW_FEED">Default view: Feed</option>
            <option value="1" i18n="@@GROUPS__DEFAULT_VIEW_CONVERSATIONS">Default view: Conversations</option>
          </select>
        </div>

      </div>

      <!-- Video calls -->
      <div class="m-group-info-video-calls" *ngIf="group['is:owner'] && session.isAdmin()">

        <div [hidden]="editing" *ngIf="group.videoChatDisabled == 0">
          <i class="material-icons">call</i>
          <span i18n="@@GROUPS__VIDEO_CALLS_ENABLED">Video calls enabled</span>
        </div>

        <div [hidden]="editing" *ngIf="group.videoChatDisabled == 1">
          <i class="material-icons">call</i>
          <span i18n="@@GROUPS__VIDEO_CALLS_DISABLED">Video calls disabled</span>
        </div>

        <div *ngIf="editing && group['is:owner']">
          <i class="material-icons">call</i>
          <select class="icon-prefix" name="video_calls" [ngModel]="group.videoChatDisabled" (change)="group.videoChatDisabled = $event.target.value">
            <option value="0" i18n="@@GROUPS__VIDEO_CALLS_ENABLED">Video calls enabled</option>
            <option value="1" i18n="@@GROUPS__VIDEO_CALLS_DISABLED">Video calls disabled</option>
          </select>
        </div>

      </div>

      <!-- Extra actions -->
      <div class="m-group-boost" *ngIf="session.isLoggedIn() && !editing && group['is:owner']">
        <i class="material-icons">trending_up</i>
        <minds-button-boost [object]="group"></minds-button-boost>
      </div>

      </ng-container>

      </div> <!-- END INFO -->
    </div> <!-- END INFO WRAPPER -->

    <ng-container *mIfFeature="'!es-feeds'">
      <m-groups--filter-selector
        [group]="group"
        [filter]="filter"
        *ngIf="group['is:member']"
      ></m-groups--filter-selector>
    </ng-container>

    <div class="m-group__feeds">
      <router-outlet></router-outlet>
    </div> <!-- End Feeds -->
  </div> <!-- END LEFT BLOCK -->

  <div class="m-groupGrid__toggleBtn" (click)="toggleConversations()">
     <i class="material-icons" *ngIf="showRight">keyboard_arrow_right</i>
     <i class="material-icons" *ngIf="!showRight">keyboard_arrow_left</i>
  </div>

  <div class="m-groupGrid__right" [hidden]="!showRight">
    <!-- Conversation filter -->
    <minds-groups-profile-conversation [group]="group">
    </minds-groups-profile-conversation>
    <!-- END: Conversation filter -->
  </div> <!-- END RIGHT BLOCK -->
</div>


<!-- IF A CLOSED GROUP AND NOT A MEMBER -->
<div class="m-group__splash--closed-group" *ngIf="group && !group['is:member'] && group.membership != 2">

  <minds-banner [object]="group" [top]="group.banner_position"></minds-banner>

  <div class="m-groupSplash__inner">

    <div class="m-groupSplash__avatar">
      <minds-avatar [object]="group" [editMode]="editing" (added)="upload_avatar($event)"></minds-avatar>
    </div>

    <div class="m-group-info-name mdl-color-text--blue-grey-800">
      <h1>{{group.name}}</h1>
    </div>

    <div class="m-groupSplash__error" [ngSwitch]="error">
      <ng-container i18n="@@GROUPS__YOU_HAVE_BEEN_BANNED__NOTICE" *ngSwitchCase="'banned'">You've been banned from this group</ng-container>
      <ng-container i18n="@@GROUPS__YOU_HAVE_BEEN_BANNED__NOTICE" *ngSwitchDefault>{{error}}</ng-container>
    </div>

    <minds-groups-join-button [group]="group" (membership)="change_membership($event)" *ngIf="!error"></minds-groups-join-button>

  </div>

</div>
