minds-newsfeed-poster > .mdl-card {
  overflow: visible;
}

m-wire-threshold-input, .m-wire-threshold-input {
  display: inline-block;
}

.m-wire-threshold-input {
  font-family: 'Roboto', sans-serif;


  .m-dropdown--list {
    width: 250px;

    .m-wire-threshold-input--info {
      margin-bottom: 0;
      font-size: 11px;
      text-align: left;
      padding: 8px;
      line-height: 1;
      @include m-theme(){
         border-bottom: 1px solid themed($m-grey-50);
      }
    }

    .m-btn--with-icon i {
      margin-right: 0px;
    }

    .m-dropdown--list--item {
      flex-wrap: wrap;

      b {
        flex-basis: 100%;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        font-family: 'Roboto', Helvetica, sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-size: 11px;
      }

      p {
        margin: 0;
        font-size: 9px;
        line-height: 1;
      }

      .m-wire-threshold--custom {
        display: block;
        flex-basis: 100%;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;


        i {
          font-size: 18px;
        }
        
        i.selected {
          cursor: pointer;
        }
        
        i.m-wire-threshold-input--type {
          cursor: default;
        }
        
        input {
          padding: 6px;
          margin: 0 8px;
          min-width: 122px;
        }
        span {
          margin-right: 8px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 11px;
        }
      }
    }
  }


  .m-wire-threshold-input--toggle {
    /*display: inline-flex;
    align-items: center;
    overflow: visible;
    vertical-align: middle;
    color: themed($m-blue-grey-700);
    cursor: pointer;
    span {
      font-size: 14px;
    }*/

    &.m-wire-threshold-input--toggle-enabled {
      @include m-theme(){
        color: themed($m-blue);
      }
    }
  }

  .m-wire-threshold-input--input {
    display: inline-block;
    vertical-align: middle;
    padding: ($minds-padding / 4) ($minds-padding / 2);
    @include m-theme(){
      border: 1px solid themed($m-grey-50);
      color: themed($m-grey-400);
    }

    > * {
      line-height: 1;
      vertical-align: middle;
    }

    .m-wire-threshold-input--symbol {
      font-size: 24px;
    }

    .m-wire-threshold-input--type {
      @include m-theme(){
        color: themed($m-green);
      }

      .m--crypto-token-symbol--stroke {
        @include m-theme(){
          stroke: themed($m-green);
        }
      }

      .m--crypto-token-symbol--fill {
        @include m-theme(){
          fill: themed($m-green);
        }
      }
    }

    > input {
      appearance: none;
      border: none;
      border-radius: 0;
      padding: 0;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      width: 2em;
      min-width: 2em;
      outline: none;
    }

    > .material-icons {
      font-size: 20px;
    }
  }
}
