<div class="m-page">
  <div class="m-page--sidebar">
    <m-wallet--balance-tokens></m-wallet--balance-tokens>

    <div class="m-page--sidebar--navigation">
 
      <a class="m-page--sidebar--navigation--item"
        routerLink="/token"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">shopping_cart</i>
        <span i18n="@@WALLET__TOKENS__PURCHASE">Buy Tokens</span>
      </a> 
  
      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/transactions"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">history</i>
        <span i18n="@@WALLET__TOKENS__TRANSACTIONS">Transactions</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/withdraw"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">local_atm</i>
        <span i18n="@@WALLET__TOKENS__WITHDRAW">Withdraw</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/contributions"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">stars</i>
        <span i18n="@@WALLET__TOKENS__CONTRIBUTIONS">Contributions</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/addresses"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">settings</i>
        <span i18n="@@WALLET__TOKENS__ADDRESSES">Addresses</span>
      </a>
      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/101"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">help</i>
        <span i18n="@@WALLET__TOKENS__TOKEN_101">Token 101</span>
      </a>
      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/testnet"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">link</i>
        <span i18n="@@WALLET__TOKENS__TESTNET_TOKENS">Testnet Tokens</span>
      </a>
      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/referrals"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">people</i>
        <span i18n="@@M__ACTION__REFERRAL_LINK">Referrals</span>
      </a>
    </div>
  </div>

  <div class="m-page--main">
    <m-token--onboarding *ngIf="showOnboarding"></m-token--onboarding>
    <router-outlet></router-outlet>
  </div>
</div>
