m-boost--creator-payment-methods {

  .m-boost--creator--payment-method--icon {
    font-size: 42px;
    display: block;
    //text-align: center;
  }

  h5 {
    margin: 8px 0 2px !important;
    font-size: 14px;
    font-weight: 400;

    > * {
      vertical-align: middle;
    }

    .m-tooltip {
      .material-icons {
        font-size: 16px;
        line-height: 1.1;
      }
    }

    > span {
      font-weight: bold !important;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }
  }

  li.m-boost--creator-selector--small {
    padding: 0 $minds-padding;
    //margin-right: 16px;
    flex-basis: 0;
    flex-grow: 1;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

}

.m-boostCreatorSelector__bullets {
  padding-left: 16px;
  list-style: disc;

  li { 
    font-size: 10px;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;  
  }
}
