<m-modal
  open="true"
  (closed)="close.next(true)"
  >

  <div class="m-blockchain--marketing--modal m-blockchain__ethModal">

    <h2>Buy ETH (US Only)</h2>

    <div class="m-layout__row m-blockchainEthModal__form">
      <div class="m-layout__cell">
        <input type="number"
          class="m-input"
          [(ngModel)]="usd"
          max="40"
          />
        <label>USD</label>
      </div>
      <div class="m-layout__cell m-blockchainEthModal__eq">
        <span>=</span>
      </div>
      <div class="m-layout__cell">
        <input type="number"
          class="m-input"
          [ngModel]="eth"
          (ngModelChange)="setEth($event)"
          />
        <label>ETH</label>
      </div>
    </div>

    <p class="m-blockchainEthModal__ethPrice">
      ETH is estimated at 1 ETH = <b>$</b>{{ ethRate }}. The checkout process will produce a more accurate ETH value.
    </p>

    <p class="m-error mdl-color-text--red" *ngIf="usd > 40">
      You can not purchase more than $40 worth of ETH
    </p>

    <button class="m-btn m-btn--slim m-btn--action" (click)="buy()" *ngIf="hasMetamask">
      Buy with SendWyre
    </button>

    <a href="https://metamask.io/" target="_blank" *ngIf="!hasMetamask && !isMobile()">
      <button class="m-btn m-btn--slim m-btn--action">Download Metamask</button>
    </a>

    <a *ngIf="!hasMetamask && isMobile()">
      <button class="m-btn m-btn--slim">Sorry, this feature is only available on desktop</button>
    </a>

  </div> 

</m-modal>
