@import 'defaults.scss';

@media screen and (max-width: $max-mobile) {
  .m-blog--title {
    font-size: 32px;
  }
  .medium-insert-embeds {
    max-width: 100%;
    margin: 0;
  }
  .m-blog--footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.m-share-buttons {
  cursor: pointer;
  padding-right: 8px;
  @include m-theme(){
    color: themed($m-green-light);
  }
}