<m-analytics__card
  [title]="'User Segments'"
  [options]="['daily']"
  defaultOption="daily"
  #card
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Curious (Avg)</h6>
      <h5>{{curious | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Casual (Avg)</h6>
      <h5>{{casual | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Core (Avg)</h6>
      <h5>{{core | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Cold (Avg)</h6>
      <h5>{{cold | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Resurrected (Avg)</h6>
      <h5>{{resurrected | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>New (Avg)</h6>
      <h5>{{new | number : '1.0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__usersegments [timespan]="card.selectedOption" (loaded)="currents = $event"></m-analyticscharts__usersegments>
  </div>
</m-analytics__card>
