<div class="m-moderation__appeal m-border">
  <div class="m-moderationAppeal__header mdl-color--blue mdl-color-text--white">
    <b>{{ appeal.time_created * 1000 | date: 'short' }}</b>
    <p>
      <strong>Action taken:</strong>
      <span>
        This
        <ng-container *ngIf="appeal.report.entity.type !== 'comment'"> post </ng-container>
        <ng-container *ngIf="appeal.report.entity.type == 'comment'"> comment </ng-container>
        has been
      </span>
      <b> {{ service.getAction(appeal.report) }} </b>
      <span>for</span>
      <b> {{ service.getReasonString(appeal.report) }} </b>
    </p>
  </div>

  <div class="m-moderationAppeal__appeal">
    <div class="m-moderationAppeal__composer" *ngIf="!appeal.note">
      <textarea
        #appealContent
        [(ngModel)]="note"
        placeholder="Please type in this box if you wish to appeal this decision, explaining your reasons"
        i18n="@@REPORT__CONSOLE__APPEAL_COMPOSER_PLACEHOLDER"
      ></textarea>

      <button class="m-moderationAppeal__button"
        [disabled]="appeal.inProgress"
        (click)="sendAppeal()"
        i18n="@@REPORT__CONSOLE__APPEAL_ACTION"
      >
        Appeal
      </button>
    </div>
    <div class="m-moderationAppeal__appealNote" *ngIf="appeal.note">
      <b>Appeal Note: </b>
      <p>{{appeal.note}}</p>
    </div>
  </div>

  <minds-card *ngIf="appeal.report.entity && appeal.report.entity.type != 'comment'"
    class="m-report-console--card"
    [object]="appeal.report.entity"
    hostClass="mdl-card"
  ></minds-card>

  <div *ngIf="appeal.report.entity && appeal.report.entity.type == 'comment'" class="m-comment-wrapper">
    <div class="m-moderationAppeal__commentNote">
      <a target="_blank"
        [routerLink]="['/newsfeed', appeal.report.entity.entity_guid]"
        [queryParams]="{ focusedCommentUrn: appeal.report.entity_urn }"
        i18n="@@M__COMMON__VIEW_PARENT_COMMENT_THREAD"
      >
        View parent and its comment thread
      </a>
    </div>
    <minds-card-comment
      [object]="appeal.report.entity"
      class="mdl-card"
    >
    </minds-card-comment>
  </div>

  <div *ngIf="!appeal.report.entity" class="m-comment-wrapper">
    <div class="m-moderationAppeal__commentNote" i18n="@@M__COMMON__POST_NOT_FOUND">
      Post not found
    </div>
  </div>
</div>
