<ng-container *ngIf="current">
  <m-video--direct-http-player *ngIf="current.type === 'direct-http'"
    class="m-video--player"
    [src]="current.src"
    [poster]="poster"
    [muted]="muted"
    [autoplay]="autoplay"
    [guid]="guid"
    (onPlay)="onPlay()"
    (onPause)="onPause()"
    (onEnd)="onEnd()"
    (onError)="onError()"
    (onCanPlayThrough)="onCanPlayThrough()"
    (onLoadedMetadata)="loadedMetadata()"
    (click)="isModal ? toggle() : requestMediaModal()"
    #player
  ></m-video--direct-http-player>

  <m-video--torrent-player *ngIf="current.type === 'torrent'"
    class="m-video--player"
    [src]="current.src"
    [poster]="poster"
    [muted]="muted"
    [autoplay]="autoplay"
    [guid]="guid"
    (onPlay)="onPlay()"
    (onPause)="onPause()"
    (onEnd)="onEnd()"
    (onError)="onError()"
    (onCanPlayThrough)="onCanPlayThrough()"
    (onLoadedMetadata)="loadedMetadata()"
    (click)="isModal ? toggle() : requestMediaModal()"
    #player
  ></m-video--torrent-player>

  <ng-container *ngIf="playerRef">
    <i *ngIf="!playerRef.isPlaying() && !playerRef.isLoading() || isActivity && metadataLoaded"
      class="material-icons minds-video-play-icon"
      (click)="isModal ? toggle() : requestMediaModal()"
    >play_circle_outline</i>
    <ng-content></ng-content>

    <div *ngIf="transcoding" class="minds-video-bar-top">
      <span i18n="@@MEDIA__VIDEO__TRANSCODING_NOTICE">The video is being transcoded</span>
    </div>

    <div *ngIf="transcodingError" class="minds-video-bar-top">
      <span i18n="@@MEDIA__VIDEO__TRANSCODING_NOTICE">{{transcodingError}}</span>
    </div>

    <div class="minds-video-bar-full" [@fadeAnimation]="showControls ? 'in' : 'out'">
      <i class="material-icons"
        (click)="controlBarToggle($event)"
      >{{ playerRef.isPlaying() || playerRef.isLoading() ? 'pause' : 'play_arrow' }}</i>
      <ng-template #loadingSpinner>
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
      </ng-template>

      <m-video--progress-bar #progressBar [player]="playerRef"></m-video--progress-bar>
      <m-video--volume-slider #volumeSlider [player]="playerRef"></m-video--volume-slider>

      <a class="material-icons m-video-full-page minds-video--open-new"
        *ngIf="guid && !isModal"
        [routerLink]="['/media', guid]"
        target="_blank"
        (click)="playerRef.pause()">
        lightbulb_outline
      </a>

      <ng-container *ngIf="current.type === 'torrent'">
        <a class="mdl-color-text--white m-video--info-button"
          (click)="toggleTorrentInfo()"
        >
          <m-tooltip icon="people_outline" anchor="bottom" i18n="@@MEDIA__VIDEO__PEERS_LABEL">Peers</m-tooltip>
          <span>{{ playerRef.getInfo().peers | abbr }}</span>
        </a>

        <a class="mdl-color-text--white m-video--info-button"
        (click)="toggleTorrentInfo()"
        >
          <m-tooltip icon="arrow_downward" anchor="bottom" i18n="@@MEDIA__VIDEO__DOWNLOADING_LABEL">Downloading</m-tooltip>
          <span>{{ playerRef.getInfo().dlspeed | abbr:2:true }}B/s</span>
        </a>

        <a class="mdl-color-text--white m-video--info-button"
          (click)="toggleTorrentInfo()"
        >
          <m-tooltip icon="arrow_upward" anchor="bottom" i18n="@@MEDIA__VIDEO__UPLOADING_LABEL">Uploading</m-tooltip>
          <span>{{ playerRef.getInfo().ulspeed | abbr:2:true }}B/s</span>
        </a>
      </ng-container>

      <m-video--quality-selector
        *ngIf="availableQualities?.length > 1"
        [current]="currentQuality"
        [qualities]="availableQualities"
        (select)="selectedQuality($event)"
      ></m-video--quality-selector>

      <i *ngIf="!isModal" class="material-icons" (click)="playerRef.requestFullScreen()">tv</i>
    </div>

    <div class="m-video--torrent-info" *ngIf="torrentInfo && current.type === 'torrent'">
      <div class="m-video--torrent-info--cell">
        <i class="material-icons">file_download</i>
        <span>{{ playerRef.getInfo().progress * 100 | number:'1.2-2' }}%</span>
      </div>

      <div class="m-video--torrent-info--cell">
        <i class="material-icons">people</i>
        <span>{{ playerRef.getInfo().peers | number }}</span>
      </div>

      <div class="m-video--torrent-info--cell">
        <i class="material-icons">arrow_downward</i>
        <span>{{ playerRef.getInfo().dl | abbr:2:true }}B ({{ playerRef.getInfo().dlspeed | abbr:2:true }}B/s)</span>
      </div>

      <div class="m-video--torrent-info--cell">
        <i class="material-icons">arrow_upward</i>
        <span>{{ playerRef.getInfo().ul | abbr:2:true }}B ({{ playerRef.getInfo().ulspeed | abbr:2:true }}B/s)</span>
      </div>
    </div>
  </ng-container>
</ng-container>
