.m-reportCreator__header h2{
  font-weight: 600;
  margin: 0;
  font-size: 36px;
}

.m-reportCreator__subjects{
  padding: 16px 0;
  list-style: none;
  margin: 0;

  .m-reportCreatorSubjects__subject{
    padding: 8px 16px;
    margin: 3px;
    display: inline-flex;
    /* width: 100%; */
    @include m-theme() {
      border: 1px solid themed($m-grey-100);
    }
    border-radius: 24px;
    font-weight: 600;

    &.m-reportCreatorSubjects__subject--active {
      @include m-theme(){
        border-color: themed($m-blue);
      }
      span {
        @include m-theme(){
          color: themed($m-blue);
        }
      }
    }

    span, i {
      vertical-align: middle;
    }

    span {
      flex: 1;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      @include m-theme(){
        color: themed($m-grey-700);
      }
    }

    i {
      display: none;
      @include m-theme(){
        color: themed($m-grey-400);
      }
    }

    //&:last-child{
    //  border-bottom: none;
    //}
  }
}

.m-report__Creator {
  font-weight: 400;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.m-report-creator--success, .m-report-creator--copyright, .m-report-creator--appeals {
  padding: 32px 0;

  p {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.m-report-creator--appeals {
  textarea {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    letter-spacing: 1px;
    @include m-theme(){
       border: 1px solid themed($m-grey-50);
       background-color: rgba(themed($m-white), 0.5);
    }
  }
}

.m-reportCreator__submit, .m-report-creator--close {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .m-reportCreator__button {
    font-size: 14px;
    letter-spacing: 2.33px;
    appearance: none;
    //padding: 8px 32px;
    background: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    cursor: pointer;
    @include m-theme(){
    //  border: 1px solid themed($m-grey-700);
    //  color: themed($m-grey-700);
    }

    &[disabled] {
      cursor: default;
      opacity: 0.35;
    }
  }

  .m-report-creator--submit-label,
    .m-report-creator--submit-error {
      margin-left: $minds-padding;
      font-size: 16px;

      > span, > i {
      vertical-align: middle;
    }
  }

  .m-report-creator--submit-error {
    font-size: 12px;
    font-weight: 500;
    @include m-theme(){
      color: themed($m-red);
    }
  }

  .m-report-creator--section {
    padding: 16px 0;
    font-weight: 400;

    &.m-report-creator--section--last {
      margin-top: 8px;
    }
  }
}

.m-reportCreator__explicitReasons {
  p {
    font-size: 16px;
    margin: 16px 0 0;
  }
}
