/**
 * Credit to ngx-int-tel-input
 */
 m-phone-input {
  position: relative;
  display: inline-flex;

  .m-phone-input--wrapper {
    margin-bottom: $minds-padding;
    @include m-theme(){
      background-color: themed($m-white);
    }
    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
  }
  .hide {
    display: none;
  }
  .v-hide {
    visibility: hidden;
  }
  input, input[type=text], input[type=tel] {
    position: relative;
    //padding: 8px;
    margin: 0;
    font-size: 16px;
    border: 0;
  }
  .m-phone-input--digits-2 {
    width: 24px;
  }
  .m-phone-input--digits-3 {
    width: 32px;
  }
  .m-phone-input--digits-4 {
    width: 40px;
  }
  .m-phone-input--flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
  }
  .m-phone-input--selected-flag {
    z-index: 1;
    position: relative;
    height: 36px;
    padding: 0 0 0 8px;
    border: 0;
    border-right: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    @include m-theme(){
      background-color: themed($m-white);
    }

    .m-phone-input--dial-code {
      margin-left: 5px;
      @include m-theme(){
        color: themed($m-grey-300);
      }
    }
    .m-phone-input--arrow {
      margin: 0 5px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      @include m-theme(){
         border-top: 6px solid themed($m-grey-700);
      }
    }
    .m-phone-input--arrow.up {
      border-top: none;
      @include m-theme(){
         border-bottom: 6px solid themed($m-grey-700);
      }

    }
  }

  .m-phone-input--country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    top: 36px;
    width: 100%;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    @include m-theme(){
      box-shadow: 1px 1px 4px rgba(themed($m-black), 0.2);
      background-color: themed($m-white);
      border: 1px solid themed($m-grey-100);
    }

    &.dropdown-menu {
      flex-direction: column !important;
    }

    @media (max-width: 500px) {
      white-space: normal;
    }

    .m-phone-input--country {
      cursor: pointer;
      padding: 8;
      .m-phone-input--dial-code {
        @include m-theme(){
          color: themed($m-grey-300);
        }
      }
      .m-phone-input--highlight {
        @include m-theme(){
          background-color: rgba(themed($m-black), 0.05);
        }
      }
    }
  }
  .m-phone-input--dropup {
    bottom: 100%;
    margin-bottom: -1px;
  }
  .m-phone-input--flag-box {
    display: inline-block;
    width: 20px;
  }
  .m-phone-input--divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    margin-top: 0;
    @include m-theme(){
       border-bottom: 1px solid themed($m-grey-100);
    }
  }
  &.country:not(:last-child) {
    @include m-theme(){
       border-bottom: 1px solid themed($m-grey-50);
    }
  }


  .m-phone-input--country-list .m-phone-input--flag-box, .m-phone-input--country-list .m-phone-input--country-name, .m-phone-input--country-list .m-phone-input--dial-code {
    vertical-align: middle;
  }
  .m-phone-input--country-list .m-phone-input--flag-box, .m-phone-input--country-list .m-phone-input--country-name {
    margin-right: 6px;
  }

  .m-phone-input--flag {
    width: 20px;
  }
  .m-phone-input--flag.be {
    width: 18px;
  }
  .m-phone-input--flag.ch {
    width: 15px;
  }
  .m-phone-input--flag.mc {
    width: 19px;
  }
  .m-phone-input--flag.ne {
    width: 18px;
  }
  .m-phone-input--flag.np {
    width: 13px;
  }
  .m-phone-input--flag.va {
    width: 15px;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .m-phone-input--flag {
      background-size: 5630px 15px;
    }
  }
  .m-phone-input--flag.ac {
    height: 10px;
    background-position: 0px 0px;
  }
  .m-phone-input--flag.ad {
    height: 14px;
    background-position: -22px 0px;
  }
  .m-phone-input--flag.ae {
    height: 10px;
    background-position: -44px 0px;
  }
  .m-phone-input--flag.af {
    height: 14px;
    background-position: -66px 0px;
  }
  .m-phone-input--flag.ag {
    height: 14px;
    background-position: -88px 0px;
  }
  .m-phone-input--flag.ai {
    height: 10px;
    background-position: -110px 0px;
  }
  .m-phone-input--flag.al {
    height: 15px;
    background-position: -132px 0px;
  }
  .m-phone-input--flag.am {
    height: 10px;
    background-position: -154px 0px;
  }
  .m-phone-input--flag.ao {
    height: 14px;
    background-position: -176px 0px;
  }
  .m-phone-input--flag.aq {
    height: 14px;
    background-position: -198px 0px;
  }
  .m-phone-input--flag.ar {
    height: 13px;
    background-position: -220px 0px;
  }
  .m-phone-input--flag.as {
    height: 10px;
    background-position: -242px 0px;
  }
  .m-phone-input--flag.at {
    height: 14px;
    background-position: -264px 0px;
  }
  .m-phone-input--flag.au {
    height: 10px;
    background-position: -286px 0px;
  }
  .m-phone-input--flag.aw {
    height: 14px;
    background-position: -308px 0px;
  }
  .m-phone-input--flag.ax {
    height: 13px;
    background-position: -330px 0px;
  }
  .m-phone-input--flag.az {
    height: 10px;
    background-position: -352px 0px;
  }
  .m-phone-input--flag.ba {
    height: 10px;
    background-position: -374px 0px;
  }
  .m-phone-input--flag.bb {
    height: 14px;
    background-position: -396px 0px;
  }
  .m-phone-input--flag.bd {
    height: 12px;
    background-position: -418px 0px;
  }
  .m-phone-input--flag.be {
    height: 15px;
    background-position: -440px 0px;
  }
  .m-phone-input--flag.bf {
    height: 14px;
    background-position: -460px 0px;
  }
  .m-phone-input--flag.bg {
    height: 12px;
    background-position: -482px 0px;
  }
  .m-phone-input--flag.bh {
    height: 12px;
    background-position: -504px 0px;
  }
  .m-phone-input--flag.bi {
    height: 12px;
    background-position: -526px 0px;
  }
  .m-phone-input--flag.bj {
    height: 14px;
    background-position: -548px 0px;
  }
  .m-phone-input--flag.bl {
    height: 14px;
    background-position: -570px 0px;
  }
  .m-phone-input--flag.bm {
    height: 10px;
    background-position: -592px 0px;
  }
  .m-phone-input--flag.bn {
    height: 10px;
    background-position: -614px 0px;
  }
  .m-phone-input--flag.bo {
    height: 14px;
    background-position: -636px 0px;
  }
  .m-phone-input--flag.bq {
    height: 14px;
    background-position: -658px 0px;
  }
  .m-phone-input--flag.br {
    height: 14px;
    background-position: -680px 0px;
  }
  .m-phone-input--flag.bs {
    height: 10px;
    background-position: -702px 0px;
  }
  .m-phone-input--flag.bt {
    height: 14px;
    background-position: -724px 0px;
  }
  .m-phone-input--flag.bv {
    height: 15px;
    background-position: -746px 0px;
  }
  .m-phone-input--flag.bw {
    height: 14px;
    background-position: -768px 0px;
  }
  .m-phone-input--flag.by {
    height: 10px;
    background-position: -790px 0px;
  }
  .m-phone-input--flag.bz {
    height: 14px;
    background-position: -812px 0px;
  }
  .m-phone-input--flag.ca {
    height: 10px;
    background-position: -834px 0px;
  }
  .m-phone-input--flag.cc {
    height: 10px;
    background-position: -856px 0px;
  }
  .m-phone-input--flag.cd {
    height: 15px;
    background-position: -878px 0px;
  }
  .m-phone-input--flag.cf {
    height: 14px;
    background-position: -900px 0px;
  }
  .m-phone-input--flag.cg {
    height: 14px;
    background-position: -922px 0px;
  }
  .m-phone-input--flag.ch {
    height: 15px;
    background-position: -944px 0px;
  }
  .m-phone-input--flag.ci {
    height: 14px;
    background-position: -961px 0px;
  }
  .m-phone-input--flag.ck {
    height: 10px;
    background-position: -983px 0px;
  }
  .m-phone-input--flag.cl {
    height: 14px;
    background-position: -1005px 0px;
  }
  .m-phone-input--flag.cm {
    height: 14px;
    background-position: -1027px 0px;
  }
  .m-phone-input--flag.cn {
    height: 14px;
    background-position: -1049px 0px;
  }
  .m-phone-input--flag.co {
    height: 14px;
    background-position: -1071px 0px;
  }
  .m-phone-input--flag.cp {
    height: 14px;
    background-position: -1093px 0px;
  }
  .m-phone-input--flag.cr {
    height: 12px;
    background-position: -1115px 0px;
  }
  .m-phone-input--flag.cu {
    height: 10px;
    background-position: -1137px 0px;
  }
  .m-phone-input--flag.cv {
    height: 12px;
    background-position: -1159px 0px;
  }
  .m-phone-input--flag.cw {
    height: 14px;
    background-position: -1181px 0px;
  }
  .m-phone-input--flag.cx {
    height: 10px;
    background-position: -1203px 0px;
  }
  .m-phone-input--flag.cy {
    height: 13px;
    background-position: -1225px 0px;
  }
  .m-phone-input--flag.cz {
    height: 14px;
    background-position: -1247px 0px;
  }
  .m-phone-input--flag.de {
    height: 12px;
    background-position: -1269px 0px;
  }
  .m-phone-input--flag.dg {
    height: 10px;
    background-position: -1291px 0px;
  }
  .m-phone-input--flag.dj {
    height: 14px;
    background-position: -1313px 0px;
  }
  .m-phone-input--flag.dk {
    height: 15px;
    background-position: -1335px 0px;
  }
  .m-phone-input--flag.dm {
    height: 10px;
    background-position: -1357px 0px;
  }
  .m-phone-input--flag.do {
    height: 13px;
    background-position: -1379px 0px;
  }
  .m-phone-input--flag.dz {
    height: 14px;
    background-position: -1401px 0px;
  }
  .m-phone-input--flag.ea {
    height: 14px;
    background-position: -1423px 0px;
  }
  .m-phone-input--flag.ec {
    height: 14px;
    background-position: -1445px 0px;
  }
  .m-phone-input--flag.ee {
    height: 13px;
    background-position: -1467px 0px;
  }
  .m-phone-input--flag.eg {
    height: 14px;
    background-position: -1489px 0px;
  }
  .m-phone-input--flag.eh {
    height: 10px;
    background-position: -1511px 0px;
  }
  .m-phone-input--flag.er {
    height: 10px;
    background-position: -1533px 0px;
  }
  .m-phone-input--flag.es {
    height: 14px;
    background-position: -1555px 0px;
  }
  .m-phone-input--flag.et {
    height: 10px;
    background-position: -1577px 0px;
  }
  .m-phone-input--flag.eu {
    height: 14px;
    background-position: -1599px 0px;
  }
  .m-phone-input--flag.fi {
    height: 12px;
    background-position: -1621px 0px;
  }
  .m-phone-input--flag.fj {
    height: 10px;
    background-position: -1643px 0px;
  }
  .m-phone-input--flag.fk {
    height: 10px;
    background-position: -1665px 0px;
  }
  .m-phone-input--flag.fm {
    height: 11px;
    background-position: -1687px 0px;
  }
  .m-phone-input--flag.fo {
    height: 15px;
    background-position: -1709px 0px;
  }
  .m-phone-input--flag.fr {
    height: 14px;
    background-position: -1731px 0px;
  }
  .m-phone-input--flag.ga {
    height: 15px;
    background-position: -1753px 0px;
  }
  .m-phone-input--flag.gb {
    height: 10px;
    background-position: -1775px 0px;
  }
  .m-phone-input--flag.gd {
    height: 12px;
    background-position: -1797px 0px;
  }
  .m-phone-input--flag.ge {
    height: 14px;
    background-position: -1819px 0px;
  }
  .m-phone-input--flag.gf {
    height: 14px;
    background-position: -1841px 0px;
  }
  .m-phone-input--flag.gg {
    height: 14px;
    background-position: -1863px 0px;
  }
  .m-phone-input--flag.gh {
    height: 14px;
    background-position: -1885px 0px;
  }
  .m-phone-input--flag.gi {
    height: 10px;
    background-position: -1907px 0px;
  }
  .m-phone-input--flag.gl {
    height: 14px;
    background-position: -1929px 0px;
  }
  .m-phone-input--flag.gm {
    height: 14px;
    background-position: -1951px 0px;
  }
  .m-phone-input--flag.gn {
    height: 14px;
    background-position: -1973px 0px;
  }
  .m-phone-input--flag.gp {
    height: 14px;
    background-position: -1995px 0px;
  }
  .m-phone-input--flag.gq {
    height: 14px;
    background-position: -2017px 0px;
  }
  .m-phone-input--flag.gr {
    height: 14px;
    background-position: -2039px 0px;
  }
  .m-phone-input--flag.gs {
    height: 10px;
    background-position: -2061px 0px;
  }
  .m-phone-input--flag.gt {
    height: 13px;
    background-position: -2083px 0px;
  }
  .m-phone-input--flag.gu {
    height: 11px;
    background-position: -2105px 0px;
  }
  .m-phone-input--flag.gw {
    height: 10px;
    background-position: -2127px 0px;
  }
  .m-phone-input--flag.gy {
    height: 12px;
    background-position: -2149px 0px;
  }
  .m-phone-input--flag.hk {
    height: 14px;
    background-position: -2171px 0px;
  }
  .m-phone-input--flag.hm {
    height: 10px;
    background-position: -2193px 0px;
  }
  .m-phone-input--flag.hn {
    height: 10px;
    background-position: -2215px 0px;
  }
  .m-phone-input--flag.hr {
    height: 10px;
    background-position: -2237px 0px;
  }
  .m-phone-input--flag.ht {
    height: 12px;
    background-position: -2259px 0px;
  }
  .m-phone-input--flag.hu {
    height: 10px;
    background-position: -2281px 0px;
  }
  .m-phone-input--flag.ic {
    height: 14px;
    background-position: -2303px 0px;
  }
  .m-phone-input--flag.id {
    height: 14px;
    background-position: -2325px 0px;
  }
  .m-phone-input--flag.ie {
    height: 10px;
    background-position: -2347px 0px;
  }
  .m-phone-input--flag.il {
    height: 15px;
    background-position: -2369px 0px;
  }
  .m-phone-input--flag.im {
    height: 10px;
    background-position: -2391px 0px;
  }
  .m-phone-input--flag.in {
    height: 14px;
    background-position: -2413px 0px;
  }
  .m-phone-input--flag.io {
    height: 10px;
    background-position: -2435px 0px;
  }
  .m-phone-input--flag.iq {
    height: 14px;
    background-position: -2457px 0px;
  }
  .m-phone-input--flag.ir {
    height: 12px;
    background-position: -2479px 0px;
  }
  .m-phone-input--flag.is {
    height: 15px;
    background-position: -2501px 0px;
  }
  .m-phone-input--flag.it {
    height: 14px;
    background-position: -2523px 0px;
  }
  .m-phone-input--flag.je {
    height: 12px;
    background-position: -2545px 0px;
  }
  .m-phone-input--flag.jm {
    height: 10px;
    background-position: -2567px 0px;
  }
  .m-phone-input--flag.jo {
    height: 10px;
    background-position: -2589px 0px;
  }
  .m-phone-input--flag.jp {
    height: 14px;
    background-position: -2611px 0px;
  }
  .m-phone-input--flag.ke {
    height: 14px;
    background-position: -2633px 0px;
  }
  .m-phone-input--flag.kg {
    height: 12px;
    background-position: -2655px 0px;
  }
  .m-phone-input--flag.kh {
    height: 13px;
    background-position: -2677px 0px;
  }
  .m-phone-input--flag.ki {
    height: 10px;
    background-position: -2699px 0px;
  }
  .m-phone-input--flag.km {
    height: 12px;
    background-position: -2721px 0px;
  }
  .m-phone-input--flag.kn {
    height: 14px;
    background-position: -2743px 0px;
  }
  .m-phone-input--flag.kp {
    height: 10px;
    background-position: -2765px 0px;
  }
  .m-phone-input--flag.kr {
    height: 14px;
    background-position: -2787px 0px;
  }
  .m-phone-input--flag.kw {
    height: 10px;
    background-position: -2809px 0px;
  }
  .m-phone-input--flag.ky {
    height: 10px;
    background-position: -2831px 0px;
  }
  .m-phone-input--flag.kz {
    height: 10px;
    background-position: -2853px 0px;
  }
  .m-phone-input--flag.la {
    height: 14px;
    background-position: -2875px 0px;
  }
  .m-phone-input--flag.lb {
    height: 14px;
    background-position: -2897px 0px;
  }
  .m-phone-input--flag.lc {
    height: 10px;
    background-position: -2919px 0px;
  }
  .m-phone-input--flag.li {
    height: 12px;
    background-position: -2941px 0px;
  }
  .m-phone-input--flag.lk {
    height: 10px;
    background-position: -2963px 0px;
  }
  .m-phone-input--flag.lr {
    height: 11px;
    background-position: -2985px 0px;
  }
  .m-phone-input--flag.ls {
    height: 14px;
    background-position: -3007px 0px;
  }
  .m-phone-input--flag.lt {
    height: 12px;
    background-position: -3029px 0px;
  }
  .m-phone-input--flag.lu {
    height: 12px;
    background-position: -3051px 0px;
  }
  .m-phone-input--flag.lv {
    height: 10px;
    background-position: -3073px 0px;
  }
  .m-phone-input--flag.ly {
    height: 10px;
    background-position: -3095px 0px;
  }
  .m-phone-input--flag.ma {
    height: 14px;
    background-position: -3117px 0px;
  }
  .m-phone-input--flag.mc {
    height: 15px;
    background-position: -3139px 0px;
  }
  .m-phone-input--flag.md {
    height: 10px;
    background-position: -3160px 0px;
  }
  .m-phone-input--flag.me {
    height: 10px;
    background-position: -3182px 0px;
  }
  .m-phone-input--flag.mf {
    height: 14px;
    background-position: -3204px 0px;
  }
  .m-phone-input--flag.mg {
    height: 14px;
    background-position: -3226px 0px;
  }
  .m-phone-input--flag.mh {
    height: 11px;
    background-position: -3248px 0px;
  }
  .m-phone-input--flag.mk {
    height: 10px;
    background-position: -3270px 0px;
  }
  .m-phone-input--flag.ml {
    height: 14px;
    background-position: -3292px 0px;
  }
  .m-phone-input--flag.mm {
    height: 14px;
    background-position: -3314px 0px;
  }
  .m-phone-input--flag.mn {
    height: 10px;
    background-position: -3336px 0px;
  }
  .m-phone-input--flag.mo {
    height: 14px;
    background-position: -3358px 0px;
  }
  .m-phone-input--flag.mp {
    height: 10px;
    background-position: -3380px 0px;
  }
  .m-phone-input--flag.mq {
    height: 14px;
    background-position: -3402px 0px;
  }
  .m-phone-input--flag.mr {
    height: 14px;
    background-position: -3424px 0px;
  }
  .m-phone-input--flag.ms {
    height: 10px;
    background-position: -3446px 0px;
  }
  .m-phone-input--flag.mt {
    height: 14px;
    background-position: -3468px 0px;
  }
  .m-phone-input--flag.mu {
    height: 14px;
    background-position: -3490px 0px;
  }
  .m-phone-input--flag.mv {
    height: 14px;
    background-position: -3512px 0px;
  }
  .m-phone-input--flag.mw {
    height: 14px;
    background-position: -3534px 0px;
  }
  .m-phone-input--flag.mx {
    height: 12px;
    background-position: -3556px 0px;
  }
  .m-phone-input--flag.my {
    height: 10px;
    background-position: -3578px 0px;
  }
  .m-phone-input--flag.mz {
    height: 14px;
    background-position: -3600px 0px;
  }
  .m-phone-input--flag.na {
    height: 14px;
    background-position: -3622px 0px;
  }
  .m-phone-input--flag.nc {
    height: 10px;
    background-position: -3644px 0px;
  }
  .m-phone-input--flag.ne {
    height: 15px;
    background-position: -3666px 0px;
  }
  .m-phone-input--flag.nf {
    height: 10px;
    background-position: -3686px 0px;
  }
  .m-phone-input--flag.ng {
    height: 10px;
    background-position: -3708px 0px;
  }
  .m-phone-input--flag.ni {
    height: 12px;
    background-position: -3730px 0px;
  }
  .m-phone-input--flag.nl {
    height: 14px;
    background-position: -3752px 0px;
  }
  .m-phone-input--flag.no {
    height: 15px;
    background-position: -3774px 0px;
  }
  .m-phone-input--flag.np {
    height: 15px;
    background-position: -3796px 0px;
  }
  .m-phone-input--flag.nr {
    height: 10px;
    background-position: -3811px 0px;
  }
  .m-phone-input--flag.nu {
    height: 10px;
    background-position: -3833px 0px;
  }
  .m-phone-input--flag.nz {
    height: 10px;
    background-position: -3855px 0px;
  }
  .m-phone-input--flag.om {
    height: 10px;
    background-position: -3877px 0px;
  }
  .m-phone-input--flag.pa {
    height: 14px;
    background-position: -3899px 0px;
  }
  .m-phone-input--flag.pe {
    height: 14px;
    background-position: -3921px 0px;
  }
  .m-phone-input--flag.pf {
    height: 14px;
    background-position: -3943px 0px;
  }
  .m-phone-input--flag.pg {
    height: 15px;
    background-position: -3965px 0px;
  }
  .m-phone-input--flag.ph {
    height: 10px;
    background-position: -3987px 0px;
  }
  .m-phone-input--flag.pk {
    height: 14px;
    background-position: -4009px 0px;
  }
  .m-phone-input--flag.pl {
    height: 13px;
    background-position: -4031px 0px;
  }
  .m-phone-input--flag.pm {
    height: 14px;
    background-position: -4053px 0px;
  }
  .m-phone-input--flag.pn {
    height: 10px;
    background-position: -4075px 0px;
  }
  .m-phone-input--flag.pr {
    height: 14px;
    background-position: -4097px 0px;
  }
  .m-phone-input--flag.ps {
    height: 10px;
    background-position: -4119px 0px;
  }
  .m-phone-input--flag.pt {
    height: 14px;
    background-position: -4141px 0px;
  }
  .m-phone-input--flag.pw {
    height: 13px;
    background-position: -4163px 0px;
  }
  .m-phone-input--flag.py {
    height: 11px;
    background-position: -4185px 0px;
  }
  .m-phone-input--flag.qa {
    height: 8px;
    background-position: -4207px 0px;
  }
  .m-phone-input--flag.re {
    height: 14px;
    background-position: -4229px 0px;
  }
  .m-phone-input--flag.ro {
    height: 14px;
    background-position: -4251px 0px;
  }
  .m-phone-input--flag.rs {
    height: 14px;
    background-position: -4273px 0px;
  }
  .m-phone-input--flag.ru {
    height: 14px;
    background-position: -4295px 0px;
  }
  .m-phone-input--flag.rw {
    height: 14px;
    background-position: -4317px 0px;
  }
  .m-phone-input--flag.sa {
    height: 14px;
    background-position: -4339px 0px;
  }
  .m-phone-input--flag.sb {
    height: 10px;
    background-position: -4361px 0px;
  }
  .m-phone-input--flag.sc {
    height: 10px;
    background-position: -4383px 0px;
  }
  .m-phone-input--flag.sd {
    height: 10px;
    background-position: -4405px 0px;
  }
  .m-phone-input--flag.se {
    height: 13px;
    background-position: -4427px 0px;
  }
  .m-phone-input--flag.sg {
    height: 14px;
    background-position: -4449px 0px;
  }
  .m-phone-input--flag.sh {
    height: 10px;
    background-position: -4471px 0px;
  }
  .m-phone-input--flag.si {
    height: 10px;
    background-position: -4493px 0px;
  }
  .m-phone-input--flag.sj {
    height: 15px;
    background-position: -4515px 0px;
  }
  .m-phone-input--flag.sk {
    height: 14px;
    background-position: -4537px 0px;
  }
  .m-phone-input--flag.sl {
    height: 14px;
    background-position: -4559px 0px;
  }
  .m-phone-input--flag.sm {
    height: 15px;
    background-position: -4581px 0px;
  }
  .m-phone-input--flag.sn {
    height: 14px;
    background-position: -4603px 0px;
  }
  .m-phone-input--flag.so {
    height: 14px;
    background-position: -4625px 0px;
  }
  .m-phone-input--flag.sr {
    height: 14px;
    background-position: -4647px 0px;
  }
  .m-phone-input--flag.ss {
    height: 10px;
    background-position: -4669px 0px;
  }
  .m-phone-input--flag.st {
    height: 10px;
    background-position: -4691px 0px;
  }
  .m-phone-input--flag.sv {
    height: 12px;
    background-position: -4713px 0px;
  }
  .m-phone-input--flag.sx {
    height: 14px;
    background-position: -4735px 0px;
  }
  .m-phone-input--flag.sy {
    height: 14px;
    background-position: -4757px 0px;
  }
  .m-phone-input--flag.sz {
    height: 14px;
    background-position: -4779px 0px;
  }
  .m-phone-input--flag.ta {
    height: 10px;
    background-position: -4801px 0px;
  }
  .m-phone-input--flag.tc {
    height: 10px;
    background-position: -4823px 0px;
  }
  .m-phone-input--flag.td {
    height: 14px;
    background-position: -4845px 0px;
  }
  .m-phone-input--flag.tf {
    height: 14px;
    background-position: -4867px 0px;
  }
  .m-phone-input--flag.tg {
    height: 13px;
    background-position: -4889px 0px;
  }
  .m-phone-input--flag.th {
    height: 14px;
    background-position: -4911px 0px;
  }
  .m-phone-input--flag.tj {
    height: 10px;
    background-position: -4933px 0px;
  }
  .m-phone-input--flag.tk {
    height: 10px;
    background-position: -4955px 0px;
  }
  .m-phone-input--flag.tl {
    height: 10px;
    background-position: -4977px 0px;
  }
  .m-phone-input--flag.tm {
    height: 14px;
    background-position: -4999px 0px;
  }
  .m-phone-input--flag.tn {
    height: 14px;
    background-position: -5021px 0px;
  }
  .m-phone-input--flag.to {
    height: 10px;
    background-position: -5043px 0px;
  }
  .m-phone-input--flag.tr {
    height: 14px;
    background-position: -5065px 0px;
  }
  .m-phone-input--flag.tt {
    height: 12px;
    background-position: -5087px 0px;
  }
  .m-phone-input--flag.tv {
    height: 10px;
    background-position: -5109px 0px;
  }
  .m-phone-input--flag.tw {
    height: 14px;
    background-position: -5131px 0px;
  }
  .m-phone-input--flag.tz {
    height: 14px;
    background-position: -5153px 0px;
  }
  .m-phone-input--flag.ua {
    height: 14px;
    background-position: -5175px 0px;
  }
  .m-phone-input--flag.ug {
    height: 14px;
    background-position: -5197px 0px;
  }
  .m-phone-input--flag.um {
    height: 11px;
    background-position: -5219px 0px;
  }
  .m-phone-input--flag.us {
    height: 11px;
    background-position: -5241px 0px;
  }
  .m-phone-input--flag.uy {
    height: 14px;
    background-position: -5263px 0px;
  }
  .m-phone-input--flag.uz {
    height: 10px;
    background-position: -5285px 0px;
  }
  .m-phone-input--flag.va {
    height: 15px;
    background-position: -5307px 0px;
  }
  .m-phone-input--flag.vc {
    height: 14px;
    background-position: -5324px 0px;
  }
  .m-phone-input--flag.ve {
    height: 14px;
    background-position: -5346px 0px;
  }
  .m-phone-input--flag.vg {
    height: 10px;
    background-position: -5368px 0px;
  }
  .m-phone-input--flag.vi {
    height: 14px;
    background-position: -5390px 0px;
  }
  .m-phone-input--flag.vn {
    height: 14px;
    background-position: -5412px 0px;
  }
  .m-phone-input--flag.vu {
    height: 12px;
    background-position: -5434px 0px;
  }
  .m-phone-input--flag.wf {
    height: 14px;
    background-position: -5456px 0px;
  }
  .m-phone-input--flag.ws {
    height: 10px;
    background-position: -5478px 0px;
  }
  .m-phone-input--flag.xk {
    height: 15px;
    background-position: -5500px 0px;
  }
  .m-phone-input--flag.ye {
    height: 14px;
    background-position: -5522px 0px;
  }
  .m-phone-input--flag.yt {
    height: 14px;
    background-position: -5544px 0px;
  }
  .m-phone-input--flag.za {
    height: 14px;
    background-position: -5566px 0px;
  }
  .m-phone-input--flag.zm {
    height: 14px;
    background-position: -5588px 0px;
  }
  .m-phone-input--flag.zw {
    height: 10px;
    background-position: -5610px 0px;
  }

  .m-phone-input--flag {
    width: 20px;
    height: 15px;
    background-image: url("<%= APP_CDN %>/assets/flags/flags.png");
    background-repeat: no-repeat;
    background-position: 20px 0;
    @include m-theme(){
      background-color: themed($m-grey-100);
      box-shadow: 0px 0px 1px 0px themed($m-grey-400);
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .m-phone-input--flag {
      background-image: url("<%= APP_CDN %>/assets/flags/flags@2x.png");
    }
  }

  .m-phone-input--flag.np {
    background-color: transparent;
  }

}
