m-wallet--balance-money, m-wallet--balance-reward, m-wallet--balance-tokens {
  display: block;
}

.m-wallet--balance {
  width: auto;
  min-height: 0;
  padding: ($minds-padding * 2) $minds-padding;
  text-align: center;
  @include m-theme(){
    background-color: themed($m-white);
  }

  .m-wallet--balance--logo {
    width: 100px;
    margin-top: 24px;
  }

  h3 {
    font-weight: 600;
    @include m-theme(){
      color: themed($m-grey-800);
    }
  }

  h2 {
    text-align: center;
    font-weight: 600;
    margin-top: 8px;
    @include m-theme(){
      color: themed($m-blue);
    }
  }
}

.m-wallet--balance--addresses {
  padding: 0 8px;

  > span {
    text-align: left;
    font-size: 11px;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    @include m-theme(){
      color: themed($m-grey-700);
    }
  }

  > div:nth-of-type(1) {
    margin-top: 0 !important;
  }

  .m-wallet--balance--addresses-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;

    .m-wallet--balance--addresses-address-label {
      font-weight: 600;
      font-family: 'Roboto', Helvetica, sans-serif;
      letter-spacing: 0.25px;
      @include m-theme(){
        color: themed($m-grey-800);
      }

      m-tooltip {
        vertical-align: middle;
        i {
          font-size: 12px;
          @include m-theme(){
            color: themed($m-grey-500) !important;
          }
        }
      }
    }
    .m-wallet--balance--addresses-address-address {
      font-size: 10px;
      font-weight: 400;
      @include m-theme(){
        color: themed($m-grey-400);
      }
    }
    > * {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    .m-wallet--balance--addresses-address-balance {
      font-size: 16px;
      font-weight: 600;
      text-align: right;
      @include m-theme(){
        color: themed($m-blue);
      }
    }
  }
  .m-wallet--balance--addresses-address-col {
    text-align: left;
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
    }
  }
}

.m-wallet--balance--testnet {
  text-align: left;
  padding: 8px;
  margin: 16px 8px 4px;

  p {
    font-size: 12px;
    line-height: 1.25;
    margin: 0;
    @include m-theme(){
      color: themed($m-grey-600);
    }
  }
}

.m-wallet--balance--metamask {
  margin-top: 16px;

  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  .m-wallet--balance--metamask-logo {
    width: 50px;
  }

  .m-btn--slim {
    height: 30px;
    margin: 0 0 0 28px;
    @include m-theme(){
      color: themed($m-grey-400);
    }
  }

  p {
    text-align: left;
    margin: 0;
    padding: 0 8px;
    @include m-theme(){
      color: themed($m-grey-600);
    }
  }

}

.m-walletBalance__purchaseBtns {
  margin: 16px;
  box-sizing: border-box;

  .m-btn {
    line-height: 32px;
    text-decoration: none;
    margin: 8px;
  }
}
