.m-monetization--overview{
  padding: 16px;
  margin: 8px 0;
  border-radius: 2px;
  display:flex;
  align-items:center;
  font-family: 'Roboto', Helvetica, sans-serif;

  i{
    font-style: normal;
    font-weight:100;
  }

  .m-monetization--overview-volume{
    font-size:36px;
    letter-spacing:2px;
    line-height:36px;
    flex:1;
    padding:8px 16px 0;
  }

  .m-monetization--overview-label{
    display:block;

    > * {
      vertical-align:middle;
    }

    label{
      text-transform: uppercase;
      font-family: 'Roboto', Helvetica, sans-serif;
      letter-spacing:1px;
      font-size:11px;
    }
    i{
      font-size: 12px;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .m-monetization--overview-breakdown{
    flex: 1;
    letter-spacing: 2px;
    font-size: 16px;

    > * {
      padding: 4px 0;
    }
  }
}

.m-monetization--overview-title{
  padding: 16px;
  border-radius: 0 0 2px 2px;
  margin-top: -15px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  text-align: left;

  > * {
    display:inline-block;
    vertical-align: middle;
  }
  i{
    font-size: 12px;
    opacity: 0.5;
    cursor: pointer;
  }

  .m-monetization--overview-title-action{
    padding-left:32px;
    font-size:11px;
    text-decoration:none;
    @include m-theme(){
      color: rgba(themed($m-white), 0.5);
    }
  }
}
