.m-blog--tile{
  //padding: 8px;
  height: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  @include m-theme(){
    background-color: themed($m-white);
  }

  .m-blog--tile-thumbnail-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;

    a.m-blog--tile-thumbnail {
      background-position: center center;
      background-size: cover;
      display: flex;
      flex: 1;
      width: 100%;
      max-height: 100%;
      text-decoration: none;
      @include m-theme(){
        background-color: themed($m-grey-800);
      }

      span {
        vertical-align: middle;
        width: 100%;
        font-size: 72px;
        @include m-theme(){
          color: themed($m-white);
        }
      }
    }

    > i.material-icons {
      display: none;
    }

    &.m-blog--tile--mature-thumbnail {
      transform-style: preserve-3d;
      @include m-theme(){
        background-color: rgba(themed($m-black), 0.65);
      }

      > a.m-blog--tile-thumbnail {
        filter: blur(5px) grayscale(100%);
        transform: translate3d(0, 0, 0);
        opacity: 0.65;
      }

      > i.material-icons {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        @include m-theme(){
          color: themed($m-white);
        }
      }
    }
  }

  .m-blog--tile-title {
    position: relative;
    label {
      font-weight: 800;
      font-family: 'Roboto', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 16px;
      letter-spacing: 0.25px;
      padding: 12px 12px 0;

      cursor: pointer;
      display: block;
      word-wrap: break-word;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      //overflow: hidden;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }
    p {
      padding: 0 12px;
      margin: 0;
      display: none;
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }
  }

  .m-inline-owner-block {
    display: inline-block;
    padding: 4px 12px 12px;

    a {
      text-decoration: none;
      font-family: 'Roboto', Helvetica, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      font-size: 10px;
      font-weight: 600;
      font-family: 'Roboto', Helvetica, sans-serif;
    }
    img {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    span {
      font-family: 'Roboto', Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      text-align: right;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      @include m-theme(){
        color: themed($m-grey-400);
      }
    }
  }

  m-safe-toggle {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }

}
