.m-juryDutySession__content {
  padding: 16px;
  @include m-theme(){
    background: themed($m-white);
  }

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: unset;
    -webkit-font-smoothing: unset;
    font-size: 16px;

    @include m-theme() {
      color: themed($m-grey-800);
    }

    > * {
      line-height: 1;
    }
    > b:first-child {
       @include m-theme() {
         color: themed($m-grey-600);
       }
       display: block;
       line-height: 1.5;
    }
  }

  minds-card {
    margin-top: 16px;
    max-width: 600px;

    m-comment {
      max-width: initial !important;
    }

    .m-mature-thumbnail-overlay {
      display: none !important;
    }

    .m-mature-thumbnail {
      filter: none !important;
    }

    .m-mature-text-toggle {
      display: none !important;
    }

    .m-mature-text {
      filter: none !important;
    }

    .m-mature-content {
      position: relative !important;

      .m-mature-overlay {
        display: none !important;

        .m-mature-overlay-note {
          display: none !important;
        }
      }
    }
  }

}

.m-juryDutySessionContent__appealNote {
  padding-top: 8px;

  > b {
    @include m-theme() {
      color: themed($m-grey-600);
    }
    display: block;
  }
  > p {
    display: inline;
    @include m-theme() {
      color: themed($m-grey-600);
    }
    //padding-left: 8px;
  }
}

.m-juryDutySessionContent__options .m-btn {
  margin: 16px;
}
