.m-juryDutySession__hero {
  padding: 42px 0;
  text-align: center;
  @include m-theme(){
    background: themed($m-blue-grey-800);
  }

  i {
      font-size: 112px;
      @include m-theme(){
        color: themed($m-white);
      }
  }
}

.m-juryDutySession__wrapper {
  max-width: 900px;
  margin: auto;

  h4 {
    margin: 0;
    margin-bottom: 32px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    @include m-theme(){
      color: themed($m-grey-600);
    }
  }
}