// Display additional button and header when displayed as a modal
.m-overlay-modal--referrals-links .m-referralsLinks {
  .m-referralsLinks__modalShow {
    display: block;

    &.m-referralsLinks__modalButton {
      margin-top: $minds-padding * 2;
    }
  }
  .m-referralsLinks__copyableLinks .m-referralsLinks__modalHide {
    display:none;
  }
}

.m-referralsLinks {
  .m-referralsLinks__modalShow {
    display: none;
  }

  @include m-theme() {
    color: themed($m-grey-800);
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 16px 0 0 0;
  }

  .m-referralsLinks__copyableLinks {
    h3 {
      font-size: 28px;
      font-weight: 600;
      margin: 0 50px 26px 0;
      @include m-theme() {
        color: themed($m-grey-800);
      }
    }

    p {
      margin: 0 0 8px 0;
    }

    .m-referralsLinks__copyableLink {
      max-width: 450px;
      margin-bottom: $minds-padding * 3;
      border-radius: 18px;
      display: flex;
      justify-content: space-between;

      &.focused {
        @include m-theme() {
          border-color: themed($m-blue);
        }
      }

      .m-referralsLinks__copyableLinkText {
        width: 95%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left !important;
        font-size: 18px;
        border: none;
        padding: 8px 0 8px 8px;
        margin: 1px 0 1px 4px;

        @include m-theme() {
          background-color: transparent;
          color: rgba(themed($m-black), 0.87);
        }

        &::selection {
          background-color: #b3d4fc;
        }

        &:focus {
          outline: none;
        }
      }

      .m-referralsLinks__copyableLinkButton {
        cursor: pointer;
        padding: 9px 14px 10px 8px;
        @include m-theme() {
          color: themed($m-blue);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .m-referralsLinks__share {
    margin-top: 24px;

    .m-referralsLinks__shareButtons {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: $minds-padding;

      button {
        cursor: pointer;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        border: none;
        margin: 12px 18px 12px 0;
        position: relative;
        padding-top: 1px;

        &:hover {
          @include m-theme() {
            box-shadow: inset 0 0 16px 16px rgba(themed($m-black-always), 0.2);
          }
        }

        &:active {
          @include m-theme() {
            box-shadow: inset 0 0 16px 16px rgba(themed($m-black-always), 0.05);
          }
        }

        &:focus {
          outline: none;
        }

        img {
          position: absolute;
          top: calc(50% - 9px);
          left: calc(50% - 9px);
        }
      }
    }

    .m-referralsLinks__shareButton--twitter {
      @include m-theme() {
        background-color: themed($m-twitter);
      }
    }

    .m-referralsLinks__shareButton--messenger {
      @include m-theme() {
        background-color: themed($m-messenger);
      }
    }

    .m-referralsLinks__shareButton--facebook {
      @include m-theme() {
        background-color: themed($m-facebook);
      }
    }

    .m-referralsLinks__shareButton--whatsapp {
      @include m-theme() {
        background-color: themed($m-whatsapp);
      }
    }

    .m-referralsLinks__shareButton--sms,
    .m-referralsLinks__shareButton--email {
      @include m-theme() {
        background-color: themed($m-blue-grey-500);
      }
    }
  }
}
