<div class="m-referralsLinks">
  <div class="m-referralsLinks__copyableLinks">
    <h3 class="m-referralsLinks__modalShow"
      i18n="@@M_REFERRALS__LINKS_MODAL_HEADER" >
        Earn tokens for referring your friends
    </h3>
    <p class="m-referralsLinks__modalHide"
      i18n="@@M_REFERRALS__LINKS_REGISTER_URL_DESC">
        Send this link to your friends to earn tokens for referrals
    </p>

    <div class="m-referralsLinks__copyableLink m-border" [class.focused]="registerUrlFocused"
      (click)="applyFocus(registerUrlEl, 'registerUrl')"
    >
      <input class="m-referralsLinks__copyableLinkText"
        [class.recentlyCopied]="registerUrlRecentlyCopied"
        readonly tabindex="-1"
        (focus)="registerUrlFocused"
        (focusout)="registerUrlFocused = false"
        value="{{registerUrl}}" #registerUrlEl>
      <div (click)="copyToClipboard(registerUrlEl, 'registerUrl')" class="m-referralsLinks__copyableLinkButton">
        <div *ngIf="!registerUrlRecentlyCopied" i18n="@@M_REFERRALS__LINKS_COPY_ACTION">Copy</div>
        <div *ngIf="registerUrlRecentlyCopied" i18n="@@M_REFERRALS__LINKS_COPY_STATE">Copied</div>
      </div>
    </div>

    <p i18n="@@M_REFERRALS__LINKS_REFERRER_PARAM_DESC">You can also get referrals by adding this code to the end of any Minds link you share</p>
    <div class="m-referralsLinks__copyableLink m-border" [class.focused]="referrerParamFocused"
      (click)="applyFocus(referrerParamEl, 'referrerParam')"
    >
      <input class="m-referralsLinks__copyableLinkText"
        [class.recentlyCopied]="referrerParamRecentlyCopied"
        readonly tabindex="-1"
        (focus)="referrerParamFocused"
        (focusout)="referrerParamFocused = false"
        value="{{referrerParam}}" #referrerParamEl>
      <div (click)="copyToClipboard(referrerParamEl, 'referrerParam')" class="m-referralsLinks__copyableLinkButton">
        <div i18n="@@M_REFERRALS__LINKS_COPY_ACTION" *ngIf="!referrerParamRecentlyCopied">Copy</div>
        <div i18n="@@M_REFERRALS__LINKS_COPY_STATE" *ngIf="referrerParamRecentlyCopied">Copied</div>
      </div>
    </div>
  </div>

  <div class="m-referralsLinks__share">
    <h4 i18n="@@M_REFERRALS__SHARE_HEADER">More ways to share</h4>
    <div class="m-referralsLinks__shareButtons">
      <button i18n-title="@@M_REFERRALS__SHARE_BUTTON_TWITTER" title="Twitter"
        class="m-referralsLinks__shareButton m-referralsLinks__shareButton--twitter"
        (click)="openTwitter()"
      >
        <img [src]="minds.cdn_assets_url + 'assets/icons/twitter.svg'">
      </button>

      <button i18n-title="@@M_REFERRALS__SHARE_BUTTON_FACEBOOK" title="Facebook"
        class="m-referralsLinks__shareButton m-referralsLinks__shareButton--facebook"
        (click)="openFacebook()"
      >
        <img [src]="minds.cdn_assets_url + 'assets/icons/facebook.svg'">
      </button>

      <button i18n-title="@@M_REFERRALS__SHARE_BUTTON_MESSENGER" title="Messenger"
        class="m-referralsLinks__shareButton m-referralsLinks__shareButton--messenger"
        *ngIf="isMobileOrTablet()"
        (click)="openMessenger()"
      >
        <img [src]="minds.cdn_assets_url + 'assets/icons/messenger.svg'">
      </button>

      <button i18n-title="@@M_REFERRALS__SHARE_BUTTON_Whatsapp" title="Whatsapp"
        class="m-referralsLinks__shareButton m-referralsLinks__shareButton--whatsapp"
        *ngIf="isMobileOrTablet()"
        (click)="openWhatsapp()"
      >
        <img [src]="minds.cdn_assets_url + 'assets/icons/whatsapp.svg'">
      </button>

      <button i18n-title="@@M_REFERRALS__SHARE_BUTTON_SMS" title="SMS"
        class="m-referralsLinks__shareButton m-referralsLinks__shareButton--sms"
        *ngIf="isMobile()"
        (click)="openSMS()"
      >
        <img [src]="minds.cdn_assets_url + 'assets/icons/sms.svg'">
      </button>

      <button i18n-title="@@M_REFERRALS__SHARE_BUTTON_EMAIL" title="Email"
        class="m-referralsLinks__shareButton m-referralsLinks__shareButton--email"
        (click)= "openEmail()"
      >
        <img [src]="minds.cdn_assets_url + 'assets/icons/email.svg'">
      </button>
    </div>
  </div>
  <div class="m-referralsLinks__modalShow m-referralsLinks__modalButton">
    <a [routerLink]="['/wallet/tokens/referrals']" (click)="closeModal()">
      <button class="m-btn m-btn--slim m-btn--action">
        <span i18n-title="@@M_REFERRALS__LINKS_CONSOLE_BUTTON">Go to Referrals Console</span>
      </button>
    </a>
  </div>
</div>