<m-analytics__card
  [title]="'Onchain Plus'"
  [options]="['monthly']"
  #card
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Overall Avg Reclaimed Tokens</h6>
      <h5>{{reclaimedTokens | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Plus Users</h6>
      <h5>{{users | number : '1.0'}}</h5>
    </div>
    <div class="m-analytics__average">
      <h6>Avg Plus Transactions</h6>
      <h5>{{transactions | number : '1.0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__onchainplus [timespan]="card.selectedOption" (loaded)="currents = $event"></m-analyticscharts__onchainplus>
  </div>
</m-analytics__card>
