.m-media--videos--list{
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  flex-flow: row wrap;
  max-width: 1280px;
  margin: auto;

  m-media--videos--tile {
    //flex: auto;
    flex-basis: 33%;

    //1:1 ration default (square)
    max-width: 33%;
    max-height: 320px;
    overflow: hidden;

    @media screen and (max-width: 900px){
      flex-basis: calc(50% - 16px);
      max-width: calc(50% - 16px);
    }

    @media screen and (max-width: 500px){
      flex-basis: calc(100% - 16px);
      max-width: calc(100% - 16px);
    }

  }
}
