.m-media--videos--tile{
  padding: 8px;

  .m-media--videos--tile-thumbnail {
    background-position: center center;
    background-size:cover;

    display: block;

    height: 228px;
    width: 100%;
    text-decoration: none;

    text-align: center;
    display: flex;
    align-items: center;
    @include m-theme(){
      background-color: rgba(themed($m-black-always), 0.8);
    }

    span {
      vertical-align: middle;
      width: 100%;
      font-size: 72px;
      @include m-theme(){
        color: themed($m-white-always);
      }
    }
  }

  .m-media--videos--tile-title {
    position: relative;
    @include m-theme(){
      background-color: themed($m-white-always);
    }
    label {
      font-weight: 800;
      font-family: 'Roboto', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 16px;
      letter-spacing: 0.25px;
      padding: 8px 8px 0;

      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include m-theme(){
        color: rgba(themed($m-black-always), 0.8);
      }
    }
  }

  .m-inline-owner-block {
    display: inline-block;
    padding: 8px;

    a {
      text-decoration: none;
      font-family: 'Roboto', Helvetica, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      font-size: 10px;
      font-weight: 600;
      font-family: 'Roboto', Helvetica, sans-serif;
    }
    img {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
    span {
      font-family: 'Roboto', Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      text-align: right;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      @include m-theme(){
        color: themed($m-grey-400);
      }
    }
  }

  m-safe-toggle {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  &.m-video-tile-mature-thumbnail > a {
    transform-style: preserve-3d;
    filter: blur(10px) grayscale(100%);
    transform: translate3d(0, 0, 0);
    opacity: 0.65;
    @include m-theme(){
      background-color: rgba(themed($m-black-always), 0.65);
    }

    > span.material-icons {
      display:none;
    }
  }

  > i.material-icons {
    display: none;
  }

  &.m-video-tile-mature-thumbnail {
    i.material-icons {
      display: inline-block;
      position: relative;
      bottom: 100px;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 72px;
      @include m-theme(){
        color: themed($m-white-always);
      }
    }
  }

  &.m-video-tile-mature-thumbnail > .m-media--videos--tile-title {
    filter: blur(.5em);
  }

}
