m-newsfeed__tiles {
  position: relative;
}

.m-newsfeed__tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  max-width: 1280px;
  margin: auto;

  &.m-newsfeed__tiles--has-elements {
    @include m-theme(){
      background: themed($m-white);
    }
    padding: 8px;
  }

  .m-newsfeed-tiles__Tile {
    position: relative;
    flex-basis: calc(25% - 8px);
    max-width: calc(25% - 8px);
    padding-top: calc(25% - 8px);
    height: 0;
    margin: 4px;
    overflow: hidden;
    transform-style: preserve-3d;
    @include m-theme(){
      background-color: rgba(themed($m-black), 0.65);
    }

    &.m-newsfeed-tiles__Tile--is-mature > img {
      filter: blur(5px) grayscale(100%);
      transform: translate3d(0, 0, 0);
      opacity: 0.65;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    i.material-icons.unlisted-icon {
      position: absolute;
      bottom: 4px;
      right: 4px;
      pointer-events: none;
      @include m-theme(){
        color: themed($m-white);
        text-shadow: 1px 1px rgba(themed($m-black), .35);
      }
    }

    i.material-icons.mature-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3em;
      @include m-theme(){
        color: themed($m-white);
      }
    }
  }
}
