minds-country-input {
  display: inline-block;
  max-width: 100%;
  position:relative;

  &::before{
    content: '\25bc';
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 1px;
    padding-top: 0.7em;
    line-height: 1;
    right: 0;
    width: 2em;
    text-align: center;
    transform: scale(0.84, 0.42);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=.84, M12=0, M21=0, M22=.42, SizingMethod='auto expand');
    @include m-theme(){
      color: themed($m-grey-500);
    }
  }

  select {
    padding: 8px 40px 8px 8px;
    max-width: 100%;
    appearance: none;
    display: block;
    width: 100%;
    font-family: 'Roboto', Helvetica, sans-serif;
    @include m-theme(){
       border: 1px solid themed($m-grey-100);
    }
  }
}
