<m-analytics__card
  [title]="'Rewards'"
  [options]="['daily', 'monthly']"
  #card
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Transactions</h6>
      <h5>{{avgTransactions | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Rewarded Tokens</h6>
      <h5>{{avgRewardedTokens | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__rewards [timespan]="card.selectedOption" (loaded)="currents = $event"></m-analyticscharts__rewards>
  </div>
</m-analytics__card>
