@import "defaults";


m-search--bar {
  width:200px;

  .mdl-textfield {
    width:100%;
    .material-icons{
      position:absolute;
      margin:6px;
      font-size: 20px;
    }
    input{
      @include m-theme(){
        background-color: themed($m-white);
        border: 1px solid rgba(themed($m-black),.12);
      }
    }
    input, label{
      padding:$minds-padding $minds-padding $minds-padding $minds-padding*4;
      box-sizing: border-box;
    }
  }

  &.m-search--bar--default-sizes {
    @media screen and (max-width: 1080px){
      width: 180px;
    }

    @media screen and (max-width: $min-desktop){
      width:45%;
    }

    @media screen and (max-width: $min-tablet){
      width:auto;
      max-width: 30%;

      input{
        border:0 !important;
        &:focus{
          width: 75vw;
          @include m-theme(){
            border: 1px solid rgba(themed($m-black), 0.12) !important;
          }

          & + .mdl-textfield__label {
            width: 75vw;
          }
        }
      }
    }
  }

  //

  .m-search-bar--context {
    display: none;
  }

  .mdl-textfield .mdl-textfield__input {
    height: 32px;
    border-radius: 18px;

    //text-indent: 22px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    //line-height: 38px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (min-width: 769px) {
    .mdl-textfield.m-search-bar--has-context {
      display: flex;

      .m-search-bar--context {
        display: block;
        flex-grow: 1;
        align-self: center;

        max-width: 25em;
        height: 32px;
        border-radius: 3px;
        padding: 0 0 0 32px;

        font-family: Roboto, sans-serif;
        font-size: 12px;
        letter-spacing: 1.25px;
        //line-height: 38px;
        white-space: nowrap;
        text-transform: uppercase;
        border-right: none;
        box-sizing: border-box;

        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        @include m-theme(){
          border: 1px solid rgba(themed($m-black), 0.12);
          color: rgba(themed($m-grey-800), 0.5);
        }
      }

      .mdl-textfield__input {
        padding: 0 $minds-padding;
        //border-left: none;
        box-sizing: border-box;

        appearance: none;
        @include m-theme(){
          border: 1px solid rgba(themed($m-black), 0.12);
        }
      }
    }
  }
}

m-search--bar-suggestions{
  display: block;

  .m-search-bar-suggestions-list{
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 5000;
    box-sizing: border-box;
    width: 200%;
    @include m-theme(){
      background-color: themed($m-white);
      border: 1px solid themed($m-grey-50);
    }

    .m-search-bar-suggestions-suggestion{
      cursor:pointer;
      padding: 4px;
      display:block;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      @include m-theme(){
        border-bottom: 1px solid themed($m-grey-50);
        color: themed($m-grey-700);
      }

      img{
        border-radius: 50%;
        margin: 0 8px 0 4px;
        width: 36px;
        height: 36px;
        @include m-theme(){
          background-color: themed($m-grey-800);
        }
      }
    }
  }

  .m-search-bar-suggestions-context {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 1.75px;
    font-weight: 500;
    @include m-theme(){
      color: rgba(themed($m-grey-800), 0.83);
    }

    > * {
      vertical-align: middle;
      display: inline-block;
      line-height: 13px;
    }

    b {
      margin: 0 0.35em 0 8px;
      font-weight: 400;
      font-size:9px;
      text-transform: uppercase;
      @include m-theme(){
        color: rgba(themed($m-grey-800), 0.5);
      }
    }
  }
}

// Search

m-search {
  display: block;
  min-height: 100vh;
  padding-top: 42px;

  .m-toolbar {
    position: fixed;
    top: 0;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 500;
    @include m-theme(){
      background-color: rgba(themed($m-grey-50),0.8);
    }
  }

  .m-topbar--navigation--more {

    position: relative;
    cursor: pointer;

    .minds-dropdown-menu {
      width: auto;
      max-width: 300px;

      .mdl-menu__item {
        display: flex;
        align-items: center;
        overflow: visible;
        font-size: 12px;

        .m-dropdown--spacer {
          flex: 1;
        }

        > label.mdl-switch {
          width: 36px;
        }

        .m-tooltip i {
          font-size: 16px;
          margin: 0 8px;
          @include m-theme(){
            color: themed($m-grey-400);
          }
        }
      }
    }

    @media screen and (max-width: $max-mobile){
      flex: 1;
    }
  }
}

// Search Lists

.m-search--list {
  max-width: 1280px;
  padding: $minds-padding * 2;
  margin: auto;

  .m-search--list-section {
    margin-bottom: $minds-padding * 3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .m-search--list-title {
    margin: 0;
    padding: 0 $minds-padding * 2;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include m-theme(){
      color: rgba(themed($m-black),0.6);
    }

  }

  .m-search--list-entities {
    minds-card {
      background: transparent;
    }
  }
}
