body.m-overlay-modal--shown {
  m-overlay-modal {
    position: fixed;
    z-index: 9999990;
  }
}

m-overlay-modal {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;

  .m-overlay-modal--backdrop {
    z-index: 9999995;
    @include m-theme(){
      background-color: rgba(themed($m-black-always), 0.85);
    }
  }

  .m-overlay-modal.m-overlayModal--media {
    position: static;
    // min-width: 1060px; // Should be manually calc'ed as (modalW + padding*2) and @Output
    min-height: 100%;
    display: table;
    height: 100% !important;
    table-layout: fixed;
    width: 100%;

    .m-overlay-modal--close {
      z-index: 9999998;
      line-height: normal;
      opacity: .6;
      position: fixed;
      right: 8px;
      top: 8px;
      transition: opacity 1s cubic-bezier(.23, 1, .32, 1);
      padding: 4px;
      @include m-theme(){
        background-color: rgba(themed($m-white-always), 0);
        color: themed($m-grey-300);
      }
      i.material-icons {
        font-size: 28px;
      }
      &:hover {
        opacity: 1;
      }
    }

    m-media--modal {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;

      .m-mediaModal__wrapper {
        position: static;
        margin: 20px;
        display:inline-block;
        text-align: left;

        .m-mediaModal__theater {
          position: relative;
          z-index: 9999996;
          @include m-theme(){
            box-shadow: 0 12px 24px rgba(themed($m-black-always), 0.3);
          }
          // .m-mediaModal {} // has inline width/height
        }
      }
    }
  }
}

.m-mediaModal__loadingPanel .mdl-spinner {
    position: absolute;
    top:  unquote("-webkit-calc(50% - 14px)");
    left: unquote("-webkit-calc(50% - 14px)");
    top:     unquote("-moz-calc(50% - 14px)");
    left:    unquote("-moz-calc(50% - 14px)");
    top:          unquote("calc(50% - 14px)");
    left:         unquote("calc(50% - 14px)");
}

.m-mediaModal__stageWrapper { // Has inline width/line-height
  float: left;
  height: 100%;
  min-height: 480px;
  position: relative;
  text-align: center;
  z-index: 9999997;
  @include m-theme(){
    background-color: rgba(themed($m-black-always), 0.9);
    box-shadow: 0 0 8px rgba(themed($m-black-always), 0.15);
  }
}

.m-mediaModal__stage {
  display: flex;
  align-items:center;
  font-size: 0;
  height: 100%;
  min-height: 402px;
  position: relative;
  text-align: center;
  width: 100%;
}

.m-mediaModal__mediaWrapper { // Has inline width/height
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;

  .m-mediaModal__media--image, m-video { // Has inline width/height
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: top;
  }

  m-video {
    position: static;

    .minds-video-bar-full  {

      .m-video--progress-bar {
        padding-right: 0;
      }

      .m-video--volume-control-wrapper {
        margin-right: 16px;
      }
    }
    .minds-video-play-icon {
      transform: none;
      width: auto;
      top:  unquote("-webkit-calc(50% - 50px)");
      left: unquote("-webkit-calc(50% - 50px)");
      top:     unquote("-moz-calc(50% - 50px)");
      left:    unquote("-moz-calc(50% - 50px)");
      top:          unquote("calc(50% - 50px)");
      left:         unquote("calc(50% - 50px)");
    }
    m-video--progress-bar {
      .seeker-ball {
        top: 4px;
      }
      .progress-bar {
        margin-right: 8px;
      }
    }
  }

}

.m-mediaModal__overlayContainer {
  left: 0;
  line-height: 1.28;
  padding: 24px 24px 16px 24px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  @include m-theme(){
    background: linear-gradient(rgba(themed($m-black-always), .5), rgba(themed($m-black-always),0));
    color: themed($m-white-always);
  }
}

.m-mediaModal__overlayTitleWrapper {
  font-size: 21px;
  letter-spacing: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 36px;
  @include m-theme(){
    color: themed($m-white-always);
  }

  .m-mediaModal__overlayTitle {
    text-decoration: none;
    cursor: pointer;

    > * {
      &:not(.m-mediaModal__overlayTitleSeparator) {
        padding-right: 8px;
      }
    }
    a {
      text-decoration: none;
      font-weight: 400;
      @include m-theme(){
        color: themed($m-white-always);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .m-mediaModal__overlayTitle--fullscreen {
    vertical-align: middle;

    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  .m-mediaModal__overlayTitleSeparator {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    @include m-theme(){
      background-color: themed($m-white-always);
    }
  }
}

.m-mediaModal__fullscreenButtonWrapper {
  cursor: pointer;
  padding: 24px;
  position: absolute;
  right: 0;
  top: 0;

  .m-mediaModal__fullscreenButton {
    float: left;
    margin-left: 16px;
    display: block;
    padding: 0;
    position: static;
    right: 0;
    top: 0;

    i {
      opacity: 0.75;
      transition: opacity 0.4s;
    }

    @include m-theme(){
      color: themed($m-white-always);
    }
    transition: transform 200ms cubic-bezier(.23, 1, .32, 1);

    .m-mediaModal__fullscreenIcon--enable {
      font-size: 30px;
    }
    .m-mediaModal__fullscreenIcon--disable {
      font-size: 34px;
    }

    &.m-mediaModal__fullscreenButton--hovering {
      i {
        opacity: 1.0;
      }
      .m-mediaModal__fullscreenIcon--enable {
        transform: scale(1.2, 1.2);
      }
      .m-mediaModal__fullscreenIcon--disable {
        transform: scale(0.83, 0.83);
      }
    }
  }

}

// PAGER (DISABLED)
// .m-mediaModal__pager {
//   display: none; // DYNAMIC
//   opacity: 0; // DYNAMIC
//   height: 45px;
//   margin-top: -22px;
//   position: absolute;
//   top: 50%;
//   transform: translateZ(0);
//   transition: opacity .2s;
//   width: 48px;
//   line-height: 1.28;

//   &.m-mediaModal__pager--previous {
//     left: 10px;
//   }
//   &.m-mediaModal__pager--next {
//     right: 10px;
//   }
// }



.m-mediaModal__contentContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  @include m-theme(){
    background-color: themed($m-white);
  }
}

.m-mediaModal__contentBody {
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.m-mediaModal__scrollableAreaContainer {
  height: auto;
  margin-left: -100px;
  margin-right: -20px;
  padding-left: 100px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  position: relative;
  width: 100% !important;


  &.m-mediaModal__contentBefore {
    top: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  &.m-mediaModal__contentBefore:before, &.m-mediaModal__contentAfter:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
  }
}

.m-mediaModal__scrollableAreaWrapper {
  // overscroll-behavior: contain contain;
  margin-left: -100px;
  margin-right: -50px;
  padding-left: 100px;
  padding-right: 50px;

  height: 100%;
  outline: none;
  overflow-x: hidden;
  position: relative;
  overflow-y: scroll;
}
.scrollableAreaBody {
  direction: ltr;
  position: relative;
}
.scrollableAreaContent {
  padding: 0;
}

.m-mediaModal__ownerBlock {
  margin-top: 0;
  padding: 16px;
  position: relative;
  margin-right: 12px;

  a:not(.permalink) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .m-mediaModal__ownerBlockAvatar {
    margin-right: 10px;
    float: left;
    display: block;

    a {
      overflow: visible;
    }

    img {
      height: 50px;
      width: 50px;
      float: left;
    }
  }

  .m-mediaModal__ownerBlockBody {
    overflow: hidden;

    > * {
      display: block;
    }

    .m-ownerBlock__channelLink, .m-ownerBlock__groupLink {
      text-decoration: none;
      vertical-align: middle;
    }

    strong {
      letter-spacing: 0.25px;
      text-rendering: optimizeLegibility;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
    }

    .m-channel--badges-entity {
      display: inline-flex;
    }

    .m-ownerBlock__permalink {
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .75px;
      text-rendering: optimizeLegibility;
      text-overflow: unset;
      white-space: pre-wrap;
      line-height: 18px;
      -webkit-font-smoothing: antialiased;
      @include m-theme(){
        color: themed($m-grey-400);
      }

      > * {
        padding-right: 8px;
      }

      &:hover {
        .m-ownerBlock__permalinkDate {
          text-decoration: underline;
        }
      }

      .m-ownerBlock__permalinkFlag {
        text-transform: uppercase;
        padding: 0 8px 0 0 ;
        letter-spacing: 0.5px;
        font-weight: 700;
        font-size: 11px;
        line-height: 1;
        @include m-theme(){
          color: themed($m-grey-400);
        }
      }

      .m-ownerBlock__permalinkFlag--boosted {
        display: inline-block;
        width: auto;
        vertical-align: middle;

        i {
          font-size: 18px;
          position: relative;
          vertical-align: middle;
        }

        a {
          vertical-align: middle;
          font-weight: 700;
          @include m-theme(){
            color: themed($m-grey-400);
          }
        }

        &.m-ownerBlock__permalinkFlag--onchain {
          @include m-theme(){
            color: themed($m-blue);
          }
          a {
            @include m-theme(){
              color: themed($m-blue);
            }
          }
        }
      }
    }
  }
}

.m-mediaModal__message a {
  text-decoration: none;
}

.m-mediaModal__actionButtonsWrapper {
  .m-mediaModal__actionButtonsRow {
    display: flex;
    justify-content: space-around;
    width: auto;
    padding: 0 0 16px 0;
    margin: 16px 12px 0 12px;
    @include m-theme(){
      border-bottom: 1px solid themed($m-grey-100);
    }

  }
  .m-wire-button > .ion-icon {
    transform: scale(1.4);
  }
}


.m-mediaModal__comments {
  padding: 8px 16px;
  display: block;
  margin-bottom: 0;
  flex: 1;

  m-comments__tree {
    height: 100%;
    position: relative;
    padding: 0 0 24px;
    margin: 0;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    m-comments__thread {
      height: 100%;
      position: relative;
      padding: 0;
      margin: 0;
      flex-direction: column;
      box-sizing: border-box;

      .m-comments__thread {
        overflow-y: auto;
        max-height: auto;
        flex: 1;
        display: flex;
        flex-direction: column;

        .minds-avatar {
          width: 36px;
          height: 36px;
          margin-left: 0;
          overflow: visible;
        }
        .m-body {
          margin-left: 0;
        }

        .m-comment-attachment .item-image {
          img, minds-video {
            max-width: 50%;
          }
        }
      }
      .minds-comment {
        padding: 8px 0px;

        .mdl-card__menu {
          display: none;
        }

        &:hover .mdl-card__menu {
          display: block;
        }

        .m-comment-attachment .m-rich-embed{
          max-width: 63%;
          .m-blurb {
            display: block;
          }
        }
      }

      .minds-comment-post {
        flex-shrink: 0;
      }

      .post-preview {
        width: 63%;
        height: auto;

        .attachment-preview {
          height: 140px;
          object-fit: cover;
        }
      }

      .minds-comments-container {
        overflow-y: visible;
        height: auto;
        max-height: none;
      }

    }
  }
}

.minds-avatar-hovercard {
  z-index: 9999999 !important;
}

.m-mediaModal__clearFix:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
