m-user-menu {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.m-user-menu__Dropdown {
  list-style: none;
  margin: 34px 0 0;
  @include m-theme(){
    background-color: themed($m-white);
    color: themed($m-grey-700);
  }

  li:hover {
    @include m-theme(){
      background-color: rgba(themed($m-grey-50), 0.5);
    }
  }

}
