.m-wallet--points--transaction {
  @include m-theme(){
    background-color: themed($m-white);
  }
  padding: 16px;
  margin-bottom: 8px;

  .m-wallet--points--transaction-points {
    font-size: 36px;
    line-height: 40px;
    font-weight: 800;

    .positive {
      @include m-theme(){
        color: themed($m-green-dark);
      }
    }
    .negative {
      @include m-theme(){
        color: themed($m-red);
      }
    }
  }

  .m-wallet--points--transaction-details {
    display: flex;
    align-items: center;
    @include m-theme(){
      color: themed($m-grey-800);
    }

    p {
      padding: 0;
      margin: 0;
    }

    i {
      font-size: 14px;
      margin-right: 8px;
    }
    .ts {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: 'Roboto', Helvetica, sans-serif;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }
  }
}
