m-topbar--hashtags, m-topbar--hashtags m-dropdown {
  .m-topbar--hashtags {

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, sans-serif;
    cursor: pointer;
    @include m-theme(){
      color: themed($m-grey-950);
    }
  }

  label {
    display: inline-flex;
    span {
      display: inline-flex;
    }
  }

  span {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.25px;
    padding-left: 4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    &.m-topbar--hashtags--hashtag--all {
      font-weight: bold;
    }

    &.m-topbar--hashtags--hashtag--selected {
      @include m-theme(){
        color: themed($m-blue);
      }
    }

    &.m-topbar--hashtags--hashtag--disabled {
      @include m-theme(){
        color: themed($m-grey-600);
      }
    }

    &.m-topbar--hashtags--select-more {
      font-weight: 600;
    }
  }
  m-tooltip {
    vertical-align: middle;
    //margin-left: 8px;
    //i {
    //  font-size: 16px !important;
    //}

    .m-tooltip--bubble {
      right: 30px;
    }
  }
}
