<m-analytics__card
  [title]="'Pageviews'"
  [options]="['daily', 'monthly']"
  #card
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Avg Pageviews</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__pageviews [timespan]="card.selectedOption" (loaded)="currents = $event"></m-analyticscharts__pageviews>
    <m-analyticscharts__pageviews [timespan]="card.selectedOption" [pie]="true"></m-analyticscharts__pageviews>
  </div>
</m-analytics__card>
