<m-analytics__card
  [title]="'OnChain Boosts'"
  [options]="['daily', 'monthly']"
  #card
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Boosts</h6>
      <h5>{{average | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Reclaimed Tokens</h6>
      <h5>{{averageReclaimedTokens | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Users that Used Boosts</h6>
      <h5>{{averageUsers | number : '1.0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__onchainboosts [timespan]="card.selectedOption" (loaded)="currents = $event"></m-analyticscharts__onchainboosts>
  </div>
</m-analytics__card>
