@import "defaults";

.m-pages {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  @include m-theme(){
    background-color: themed($m-white);
  }

  h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.5px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4 {
    font-weight: 600;
    letter-spacing: 1.5px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  p {
    margin-bottom: 0.5em;
    font-style: normal;
    letter-spacing: 0.5px;
    letter-spacing: -.003em;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin-top: 29px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    @include m-theme(){
      color: rgba(themed($m-black), 0.84);
    }
  }

  p, li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.58;
  }
  li {
    padding-bottom: 16px;
  }
}
