.m-admin-boosts-container {
  max-width: 600px;
}

.m-admin-boosts-statistics {
  margin-top: $minds-padding * 2;
  max-width: 600px - ($minds-padding * 2);
  @include m-theme(){
    background-color: themed($m-blue-grey-800);
  }

  h3 {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25em;
    margin: 0 0 0.61em 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 0.5px;
    @include m-theme(){
      color: themed($m-grey-50);
    }
  }

  .m-value {
    display: block;
    font-weight: 300;
    text-align: left;
    font-family: 'Roboto', Helvetica;
    font-size: 26px;
    letter-spacing: 2px;
    @include m-theme(){
      color: themed($m-white);
    }
  }

  .m-admin-boost-stat {
    margin-bottom: $minds-padding * 2;
  }

  .m-admin-boost-stat-note {
    opacity: 0.35;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    @include m-theme(){
      color: themed($m-white);
    }
  }
}
.m--inputs {
  display: flex;

  .mdl-slider__container {
    flex-grow: 1;
  }

  input[type=text] {
    width: 60px;
  }
}
.m-previously-rejected-notice {
  display: flex;
  align-items: center;
  margin: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  @include m-theme(){
    color: themed($m-red);
  }
}

minds-admin-boosts {
  .minds-boosts {
    .boost {
      overflow: initial;
    }
  }
}
