@import "defaults";

.m-third-party-networks-facebook-card{
  .m-block{
    padding:8px;
  }
  a {
    text-decoration:none;
  }
}

.m-third-party-networks-facebook-button{

  a {
    text-decoration:none;
  }

  padding:8px;
  font-weight:bold;
  cursor:pointer;
  @include m-theme(){
    color: themed($m-white);
    background-color: themed($m-facebook) !important;
  }
}

.m-third-party-networks-facebook-pages-list{

  > div {
    padding:8px;
    font-weight:bold;
    cursor:pointer;
  }
}

// Selector

minds-third-party-networks-selector {
  display: inline-block;

  .m-bar-wrapper {
    display: inline-block;
    padding: $minds-padding / 2;
    position: relative;
    margin-right: 8px;
    @include m-theme(){
      background-color: themed($m-grey-50);
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      z-index: 15;
      right: -8px;
      top: 50%;
      transform: rotate(360deg) translateY(-50%);
      @include m-theme(){
        border-color: transparent transparent transparent themed($m-grey-50);
      }
    }
  }

  .m-bar-button {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    > i.fa {
      font-size: 24px;
    }
  }

  .m-overgrown-material-icon {
    font-size: 20px;
  }
}
