m-referrals {
  min-width: 260px;

  section {
    margin-bottom: $minds-padding * 2;
    @include m-theme(){
      background-color: themed($m-white);
    }

    &:not(:last-of-type) {
      padding: $minds-padding * 2;
    }

    &:last-of-type {
      margin-bottom: $minds-padding * 6;
    }

    h2 {
      font-size: 42px;
      font-weight: 600;
      margin-top: $minds-padding;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }

    h3 {
      font-size: 28px;
      font-weight: 600;
      margin: 0 0 8px 0;
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }

    p {
      @include m-theme(){
        color: themed($m-grey-800);
      }
    }

    .m-referrals__blurb {
      padding-top: $minds-padding;

      span {
        font-style: italic;
      }
    }
  }
}