<m-analytics__card
  [title]="'Offchain Boosts: Completed'"
  [options]="['daily', 'monthly']"
  #completed
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedCompleted | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentCompleted | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentCompleted">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'completed'" [timespan]="completed.selectedOption" (loaded)="currentCompleted = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Offchain Boosts: Not completed'"
  [options]="['daily', 'monthly']"
  #notcompleted
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedNotCompleted | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentNotCompleted | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentNotCompleted">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'not_completed'" [timespan]="notcompleted.selectedOption" (loaded)="currentNotCompleted = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Offchain Boosts: Revoked'"
  [options]="['daily', 'monthly']"
  #revoked
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedRevoked | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentRevoked | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentRevoked">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'revoked'" [timespan]="revoked.selectedOption" (loaded)="currentRevoked = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Offchain Boosts: Rejected'"
  [options]="['daily', 'monthly']"
  #rejected
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedRejected | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentRejected | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentRejected">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'rejected'" [timespan]="rejected.selectedOption" (loaded)="currentRejected = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Offchain Boosts: Users (Completed)'"
  [options]="['daily', 'monthly']"
  #userscompleted
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedUsersCompleted | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentUsersCompleted | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentUsersCompleted">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'users_who_completed'" [timespan]="userscompleted.selectedOption" (loaded)="currentUsersCompleted = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Offchain Boosts: Users (Pending)'"
  [options]="['daily']"
  [defaultOption]="'daily'"
  #userspending
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedUsersAwaitingCompletion | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentUsersAwaitingCompletion | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentUsersAwaitingCompletion">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'users_waiting_for_completion'" [timespan]="userspending.selectedOption" (loaded)="currentUsersAwaitingCompletion = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Offchain Boosts: Reclaimed Tokens'"
  [options]="['daily', 'monthly']"
  #reclaimedtokens
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedReclaimed | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentReclaimed | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentReclaimed">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'reclaimed_tokens'" [timespan]="reclaimedtokens.selectedOption" (loaded)="currentReclaimed = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>

<m-analytics__card
  [title]="'Offchain Boosts: Impressions Served'"
  [options]="['daily', 'monthly']"
  #impressions
>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Newsfeed</h6>
      <h5>{{avgNewsfeedImpressions | number : '1.0-0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Content</h6>
      <h5>{{avgContentImpressions | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currentImpressions">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>
  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainboosts [analytics]="'impressions_served'" [timespan]="impressions.selectedOption" (loaded)="currentImpressions = $event"></m-analyticscharts__offchainboosts>
  </div>
</m-analytics__card>
